<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanshanweiwang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,268},{175,137}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{175,137}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,123},{203,105}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{203,105}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,427},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>zhanshanweiwang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,230},{175,137}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{175,137}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,170},{185,95}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{185,95}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,534},{53,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>zhanshanweiwang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,267},{175,119}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{175,119}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,497},{163,93}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{163,93}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,505},{53,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>zhanshanweiwang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,388},{175,115}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{175,115}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,392},{173,103}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{173,103}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,369},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>zhanshanweiwang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,267},{175,123}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{175,123}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,170},{177,95}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{177,95}}</string>
                <key>sourceSize</key>
                <string>{203,137}</string>
            </dict>
            <key>zhanshanweiwang_5a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,398},{53,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>zhanshanweiwang_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,467},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>zhanshanweiwang_anniubuman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,368},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>zhanshanweiwang_anniuman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,269},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>zhanshanweiwang_changtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,170},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>zhanshanweiwang_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>zhanshanweiwang_duizhanjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,481},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_fangqilingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,542},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_fangyuzhenrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,492},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_fanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,592},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{63,42}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>zhanshanweiwang_fenleidown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,225},{187,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,41}}</string>
                <key>sourceSize</key>
                <string>{187,41}</string>
            </dict>
            <key>zhanshanweiwang_fenleiup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,182},{187,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,41}}</string>
                <key>sourceSize</key>
                <string>{187,41}</string>
            </dict>
            <key>zhanshanweiwang_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,272},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>zhanshanweiwang_jifen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,230},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>zhanshanweiwang_juntuanjiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,123},{201,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{201,57}}</string>
                <key>sourceSize</key>
                <string>{305,57}</string>
            </dict>
            <key>zhanshanweiwang_juntuanlingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,481},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,369},{124,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,121}}</string>
                <key>sourceSize</key>
                <string>{124,121}</string>
            </dict>
            <key>zhanshanweiwang_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,407},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_quanfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{406,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,119}}</string>
                <key>sourceSize</key>
                <string>{406,119}</string>
            </dict>
            <key>zhanshanweiwang_wangzheshangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,505},{124,115}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,115}}</string>
                <key>sourceSize</key>
                <string>{124,121}</string>
            </dict>
            <key>zhanshanweiwang_wangzheshangdiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,407},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_wodechanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,314},{23,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{23,86}}</string>
                <key>sourceSize</key>
                <string>{49,104}</string>
            </dict>
            <key>zhanshanweiwang_wodekuangdong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,407},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>zhanshanweiwang_xinxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{488,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,166}}</string>
                <key>sourceSize</key>
                <string>{488,166}</string>
            </dict>
            <key>zhanshanweiwang_yijianzhaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,592},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanshanweiwang.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb86e4abbf902bd7190bbc901fb3b95:d31abfae005eeafb2d2c2d29d23993af:6643b882c2580cba9bd74358efe7c74b$</string>
            <key>textureFileName</key>
            <string>zhanshanweiwang.png</string>
        </dict>
    </dict>
</plist>
