<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinyiyexing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,922},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>jinyiyexing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,922},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>jinyiyexing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,922},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,132}}</string>
                <key>sourceSize</key>
                <string>{103,132}</string>
            </dict>
            <key>jinyiyexing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,922},{103,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,132}}</string>
                <key>sourceSize</key>
                <string>{103,132}</string>
            </dict>
            <key>jinyiyexing_andonw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,975},{120,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jinyiyexing_anup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,900},{120,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,73}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jinyiyexing_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,2},{570,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,293}}</string>
                <key>sourceSize</key>
                <string>{570,293}</string>
            </dict>
            <key>jinyiyexing_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,247},{326,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,503}}</string>
                <key>sourceSize</key>
                <string>{326,503}</string>
            </dict>
            <key>jinyiyexing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,2},{338,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,243}}</string>
                <key>sourceSize</key>
                <string>{338,243}</string>
            </dict>
            <key>jinyiyexing_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{105,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,101}}</string>
                <key>sourceSize</key>
                <string>{105,101}</string>
            </dict>
            <key>jinyiyexing_jinyiyexing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,862},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{175,36}</string>
            </dict>
            <key>jinyiyexing_lu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1111,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1111,419}}</string>
                <key>sourceSize</key>
                <string>{1111,419}</string>
            </dict>
            <key>jinyiyexing_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,862},{150,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,132}</string>
            </dict>
            <key>jinyiyexing_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,297},{514,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,623}}</string>
                <key>sourceSize</key>
                <string>{514,623}</string>
            </dict>
            <key>jinyiyexing_shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{482,623}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{482,623}}</string>
                <key>sourceSize</key>
                <string>{514,623}</string>
            </dict>
            <key>jinyiyexing_tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,752},{361,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,108}}</string>
                <key>sourceSize</key>
                <string>{361,108}</string>
            </dict>
            <key>jinyiyexing_wuyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>jinyiyexing_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,862},{112,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,233}}</string>
                <key>sourceSize</key>
                <string>{112,233}</string>
            </dict>
            <key>jinyiyexingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,423},{500,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,344}}</string>
                <key>sourceSize</key>
                <string>{500,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinyiyexing.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d296c45c082e6b073fc7c3f5e601aa73:0c1773a35be3afc8282898c5f9a0a8d8:0362747aee8fc09d470525cfca889777$</string>
            <key>textureFileName</key>
            <string>jinyiyexing.png</string>
        </dict>
    </dict>
</plist>
