<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_bossditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>boss_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{204,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,221}}</string>
                <key>sourceSize</key>
                <string>{204,221}</string>
            </dict>
            <key>boss_jiuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{204,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,221}}</string>
                <key>sourceSize</key>
                <string>{204,221}</string>
            </dict>
            <key>boss_shaxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>boss_xiongsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,61},{164,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{164,105}</string>
            </dict>
            <key>boss_xiongshalaixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{177,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{177,57}}</string>
                <key>sourceSize</key>
                <string>{253,57}</string>
            </dict>
            <key>boss_zhubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{204,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,221}}</string>
                <key>sourceSize</key>
                <string>{204,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f73fc4047a37e44ce52160c93b963e6a:103fb5878733d000d2c336a7b823438a:de6876b5d2e630ed6f8bd6e48bb16dcb$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
