<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inn_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,623}}</string>
                <key>sourceSize</key>
                <string>{326,623}</string>
            </dict>
            <key>inn_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,627},{578,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,351}}</string>
                <key>sourceSize</key>
                <string>{578,351}</string>
            </dict>
            <key>inn_suodown.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,472},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>inn_suoup.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,414},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>inn_touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{74,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,364}}</string>
                <key>sourceSize</key>
                <string>{74,364}</string>
            </dict>
            <key>inn_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{318,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,108}}</string>
                <key>sourceSize</key>
                <string>{318,108}</string>
            </dict>
            <key>inn_zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{288,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,116}}</string>
                <key>sourceSize</key>
                <string>{288,116}</string>
            </dict>
            <key>inn_zhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,120},{84,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,292}}</string>
                <key>sourceSize</key>
                <string>{84,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inn.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7fb1ce2fbc397c630b6711b25486b6:feece78b73be497d70444b5e68a4fbdc:78fc28d72517dedb9f301d15e5d1f193$</string>
            <key>textureFileName</key>
            <string>inn.png</string>
        </dict>
    </dict>
</plist>
