<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_anniudown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,138},{179,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,78}}</string>
                <key>sourceSize</key>
                <string>{179,78}</string>
            </dict>
            <key>shop_anniuup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,58},{179,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,78}}</string>
                <key>sourceSize</key>
                <string>{179,78}</string>
            </dict>
            <key>shop_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,644},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>shop_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,681},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>shop_chaozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,655},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>shop_fuku.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,772},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>shop_gou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,655},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>shop_gou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,717},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>shop_jishiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,243},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>shop_jishilaoban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{407,509}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{407,509}}</string>
                <key>sourceSize</key>
                <string>{439,547}</string>
            </dict>
            <key>shop_leijijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,218},{178,649}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{178,649}}</string>
                <key>sourceSize</key>
                <string>{210,651}</string>
            </dict>
            <key>shop_liangbeibaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,644},{144,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>shop_qiandaodown.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,655},{54,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,158}}</string>
                <key>sourceSize</key>
                <string>{54,158}</string>
            </dict>
            <key>shop_qiandaoup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{54,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,158}}</string>
                <key>sourceSize</key>
                <string>{54,158}</string>
            </dict>
            <key>shop_sanbeibaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,778},{145,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,35}}</string>
                <key>sourceSize</key>
                <string>{145,35}</string>
            </dict>
            <key>shop_sanshitianqiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,2},{557,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,651}}</string>
                <key>sourceSize</key>
                <string>{557,651}</string>
            </dict>
            <key>shop_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1281,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1281,640}}</string>
                <key>sourceSize</key>
                <string>{1281,640}</string>
            </dict>
            <key>shop_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,815},{118,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
            <key>shop_type10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,772},{119,37}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,37}}</string>
                <key>sourceSize</key>
                <string>{145,37}</string>
            </dict>
            <key>shop_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,644},{135,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,42}}</string>
                <key>sourceSize</key>
                <string>{135,42}</string>
            </dict>
            <key>shop_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,644},{134,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>shop_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,812},{158,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,53}}</string>
                <key>sourceSize</key>
                <string>{158,53}</string>
            </dict>
            <key>shop_type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,655},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>shop_type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,702},{139,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,43}}</string>
                <key>sourceSize</key>
                <string>{139,43}</string>
            </dict>
            <key>shop_type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,716},{163,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,54}}</string>
                <key>sourceSize</key>
                <string>{163,54}</string>
            </dict>
            <key>shop_type8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,655},{172,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>shop_type9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{143,50}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,50}}</string>
                <key>sourceSize</key>
                <string>{185,50}</string>
            </dict>
            <key>shop_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,99},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>shop_v10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,747},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>shop_v11.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,699},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>shop_v12.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,699},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>shop_v13.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,681},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>shop_v14.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,725},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>shop_v15.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,699},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>shop_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,79},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>shop_v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,181},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>shop_v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,58},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>shop_v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,201},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>shop_v6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,140},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>shop_v7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,222},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>shop_v8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,119},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>shop_v9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,161},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>shop_yibeibaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,644},{144,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>shop_zhedang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{189,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,54}}</string>
                <key>sourceSize</key>
                <string>{189,54}</string>
            </dict>
            <key>shop_zhengshouliangcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,672},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>shop_zhengshoutongqiamn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,644},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cc83f922a9a18b4f6a31cf4feb764cb:ab64c0dddf13ba1bea81a489f6ecfc4e:3dd777048b607ec7c53abed40c168f36$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
