<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farm_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,525},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>farm_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,448},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>farm_chanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,173},{249,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,118}}</string>
                <key>sourceSize</key>
                <string>{249,118}</string>
            </dict>
            <key>farm_chuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,309},{123,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,59}}</string>
                <key>sourceSize</key>
                <string>{123,59}</string>
            </dict>
            <key>farm_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>farm_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1673,803}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1673,803}}</string>
                <key>sourceSize</key>
                <string>{1673,803}</string>
            </dict>
            <key>farm_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,719},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
            <key>farm_erjiguandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,2},{269,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,169}}</string>
                <key>sourceSize</key>
                <string>{269,169}</string>
            </dict>
            <key>farm_farm_muchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,947},{146,86}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{146,86}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_gongjiangfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,761},{150,94}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{150,94}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_jianshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,99},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>farm_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,370},{119,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,9}}</string>
                <key>sourceSize</key>
                <string>{119,9}</string>
            </dict>
            <key>farm_jindu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,196},{113,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{113,3}}</string>
                <key>sourceSize</key>
                <string>{119,9}</string>
            </dict>
            <key>farm_jishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,625},{158,92}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{158,92}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_kaiken.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{87,95}</string>
            </dict>
            <key>farm_kefengshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,807},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>farm_keshngchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,415},{81,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,31}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>farm_kexunlian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,381},{81,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,32}}</string>
                <key>sourceSize</key>
                <string>{81,32}</string>
            </dict>
            <key>farm_liangku.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,857},{150,88}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{150,88}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_liangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>farm_liangtian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{148,86}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{148,86}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_minzhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,669},{156,90}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{156,90}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_sannjiguandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,293},{242,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,179}}</string>
                <key>sourceSize</key>
                <string>{242,179}</string>
            </dict>
            <key>farm_shuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,525},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>farm_tongqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,602},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>farm_xiaochang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{146,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{146,106}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
            <key>farm_yijianshouhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,201},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>farm_yijiguandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,474},{227,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,149}}</string>
                <key>sourceSize</key>
                <string>{227,149}</string>
            </dict>
            <key>farm_yinku.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,807},{150,86}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{150,86}}</string>
                <key>sourceSize</key>
                <string>{162,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>farm.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc16155d5be571990763cb3ac237a8c:87ac3b16f11b64fbb2f532ad018f2ff4:fcdbbb3f30d86116e184104c6f583a5c$</string>
            <key>textureFileName</key>
            <string>farm.png</string>
        </dict>
    </dict>
</plist>
