<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingjiangge_fangyuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>mingjiangge_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,84},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>mingjiangge_fuzhuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,97},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>mingjiangge_gongjixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,99},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>mingjiangge_huitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,84},{81,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,397}}</string>
                <key>sourceSize</key>
                <string>{81,397}</string>
            </dict>
            <key>mingjiangge_mingjiangge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1114,649}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1114,649}}</string>
                <key>sourceSize</key>
                <string>{1114,649}</string>
            </dict>
            <key>mingjiangge_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,84},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>mingjiangge_yuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>mingjiangge_zhiliaoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,2},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>mingjiangge_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{579,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,80}}</string>
                <key>sourceSize</key>
                <string>{579,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mingjiangge.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:488177dbe1b8f8a0184fdb167e600110:f5bd0e3e6765119894fc6d23b90d9d8a:3aeff9b62ddb85f86cc126db8ca44633$</string>
            <key>textureFileName</key>
            <string>mingjiangge.png</string>
        </dict>
    </dict>
</plist>
