<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerInfo_genghuantouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>PlayerInfo_libaoduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>PlayerInfo_tishengzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,62},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>PlayerInfo_yinxiaodown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PlayerInfo_yinxiaoup.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,90},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PlayerInfo_yinyuedown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PlayerInfo_yinyueup.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,90},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PlayerInfo_zhuxiaotuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>PlayerInfo_zidongbofangdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PlayerInfo_zidongbofangup.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,34},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>PlayerInfo_zuiqiangwujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,34},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlayerInfo.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329d33ad21427eccb62b168704a15508:27abe6e0cd7ee06d27af5ea454d789cf:89c3e7f1e34e06dcd9aa42a7c5421b62$</string>
            <key>textureFileName</key>
            <string>PlayerInfo.png</string>
        </dict>
    </dict>
</plist>
