<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuafu_beigongpo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,244},{136,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,62}}</string>
                <key>sourceSize</key>
                <string>{136,62}</string>
            </dict>
            <key>kuafuzhan_1hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,180},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>kuafuzhan_1shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,410},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>kuafuzhan_1shuhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,237},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>kuafuzhan_1zhugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,379},{104,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,43}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>kuafuzhan_2huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,123},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>kuafuzhan_2wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,410},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>kuafuzhan_2weihuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,261},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>kuafuzhan_2zhongchen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,379},{104,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,43}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>kuafuzhan_3neijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,409},{104,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,45}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>kuafuzhan_3wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,307},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>kuafuzhan_3wuhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,215},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>kuafuzhan_3zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,116},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>kuafuzhan_4fanzei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,456},{104,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,43}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>kuafuzhan_4lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,59},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>kuafuzhan_5lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>kuafuzhan_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,173},{73,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,162}}</string>
                <key>sourceSize</key>
                <string>{73,162}</string>
            </dict>
            <key>kuafuzhan_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{406,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,119}}</string>
                <key>sourceSize</key>
                <string>{406,119}</string>
            </dict>
            <key>kuafuzhan_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,226},{135,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,113}}</string>
                <key>sourceSize</key>
                <string>{135,113}</string>
            </dict>
            <key>kuafuzhan_budui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,260},{112,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>kuafuzhan_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,256},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>kuafuzhan_cheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,128},{186,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,130}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>kuafuzhan_cheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,123},{172,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,119}}</string>
                <key>sourceSize</key>
                <string>{172,119}</string>
            </dict>
            <key>kuafuzhan_cheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,132},{147,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,92}}</string>
                <key>sourceSize</key>
                <string>{147,92}</string>
            </dict>
            <key>kuafuzhan_chengzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,358},{112,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>kuafuzhan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,215},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>kuafuzhan_dingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,282},{135,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,95}}</string>
                <key>sourceSize</key>
                <string>{135,95}</string>
            </dict>
            <key>kuafuzhan_fangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,132},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>kuafuzhan_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,328},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>kuafuzhan_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,283},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>kuafuzhan_huangjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,244},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>kuafuzhan_huodongjieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,308},{124,48}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{124,48}}</string>
                <key>sourceSize</key>
                <string>{220,104}</string>
            </dict>
            <key>kuafuzhan_kuafuyuanzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,69},{201,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{201,57}}</string>
                <key>sourceSize</key>
                <string>{315,57}</string>
            </dict>
            <key>kuafuzhan_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,331},{110,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>kuafuzhan_sanguodingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,2},{202,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,65}}</string>
                <key>sourceSize</key>
                <string>{202,65}</string>
            </dict>
            <key>kuafuzhan_sanguosha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,214},{140,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{140,66}}</string>
                <key>sourceSize</key>
                <string>{220,104}</string>
            </dict>
            <key>kuafuzhan_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,400},{110,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{110,65}}</string>
                <key>sourceSize</key>
                <string>{112,69}</string>
            </dict>
            <key>kuafuzhan_shiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,331},{90,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>kuafuzhan_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,271},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>kuafuzhan_xue0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,145},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>kuafuzhan_xue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,123},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>kuafuzhan_xue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,150},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>kuafuzhan_xue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,128},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>kuafuzhan_zhankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,341},{112,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,67}}</string>
                <key>sourceSize</key>
                <string>{112,67}</string>
            </dict>
            <key>kuafuzhan_ziyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>kuafuzhan_ziyuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,2},{235,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,128}}</string>
                <key>sourceSize</key>
                <string>{235,128}</string>
            </dict>
            <key>kuafuzhan_ziyuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,123},{166,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,89}}</string>
                <key>sourceSize</key>
                <string>{166,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuafuzhan.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffbbbe0a8c6447bcb705c046b81b1a2d:95c789e9606d63dcfe49322f89aea0b8:cd318a2fa1894c4a896d220ec705d4e5$</string>
            <key>textureFileName</key>
            <string>kuafuzhan.png</string>
        </dict>
    </dict>
</plist>
