<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianxiadiyi_ditu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,222}}</string>
                <key>sourceSize</key>
                <string>{400,222}</string>
            </dict>
            <key>tianxiadiyi_guanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>tianxiadiyi_guanjunmobai.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,434},{205,57}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,4},{205,57}}</string>
                <key>sourceSize</key>
                <string>{323,61}</string>
            </dict>
            <key>tianxiadiyi_jijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,184},{88,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>tianxiadiyi_tianxiadiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{209,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{209,61}}</string>
                <key>sourceSize</key>
                <string>{323,61}</string>
            </dict>
            <key>tianxiadiyi_yajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,96},{90,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>tianxiadiyi_yijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{52,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{52,97}}</string>
                <key>sourceSize</key>
                <string>{52,131}</string>
            </dict>
            <key>tianxiadiyi_yuxuansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{155,61}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{155,61}}</string>
                <key>sourceSize</key>
                <string>{323,61}</string>
            </dict>
            <key>tianxiadiyi_zhichibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianxiadiyi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea44e618c7342c5fa7c61f7ee7d7f79e:bc837500181ddaa4363e83d83b7189eb:0d75bc8837da2285c454f7716070ad70$</string>
            <key>textureFileName</key>
            <string>tianxiadiyi.png</string>
        </dict>
    </dict>
</plist>
