<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodongtibiao_shengdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodongtibiao.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aae727802bf54c5f91a09f88a7d15de:80bc067b978d85e49c9b3f1d76bbc440:5e22a57c15ccbbc37383d8f381fce128$</string>
            <key>textureFileName</key>
            <string>huodongtibiao.png</string>
        </dict>
    </dict>
</plist>
