<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhounian_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{904,634}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{904,634}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>zhounian_zhounianqingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{395,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,111}}</string>
                <key>sourceSize</key>
                <string>{395,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhounian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511ed9e3a3e375d05d1f3f30c19a1ed5:9bd715d0e69c7f98735186669050c64f:a20219e8fe69f1646604f555f9bdfecc$</string>
            <key>textureFileName</key>
            <string>zhounian.png</string>
        </dict>
    </dict>
</plist>
