<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>update_anniu1disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,262},{140,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,57}}</string>
                <key>sourceSize</key>
                <string>{140,57}</string>
            </dict>
            <key>update_anniu1down.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,203},{140,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,57}}</string>
                <key>sourceSize</key>
                <string>{140,57}</string>
            </dict>
            <key>update_anniu1up.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,144},{140,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,57}}</string>
                <key>sourceSize</key>
                <string>{140,57}</string>
            </dict>
            <key>update_biaotiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,340},{363,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,37}}</string>
                <key>sourceSize</key>
                <string>{363,37}</string>
            </dict>
            <key>update_biaotifenxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,464},{360,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,2}}</string>
                <key>sourceSize</key>
                <string>{360,2}</string>
            </dict>
            <key>update_denglutu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{376,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,250}}</string>
                <key>sourceSize</key>
                <string>{376,250}</string>
            </dict>
            <key>update_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,321},{138,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>update_ditubiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{143,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,140}}</string>
                <key>sourceSize</key>
                <string>{149,144}</string>
            </dict>
            <key>update_fengewenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{490,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,86}}</string>
                <key>sourceSize</key>
                <string>{490,86}</string>
            </dict>
            <key>update_gengxinjiemian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{837,336}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{837,336}}</string>
                <key>sourceSize</key>
                <string>{837,338}</string>
            </dict>
            <key>update_guanbidown.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,379},{93,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,37}}</string>
                <key>sourceSize</key>
                <string>{93,37}</string>
            </dict>
            <key>update_guanbiup.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,340},{93,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,37}}</string>
                <key>sourceSize</key>
                <string>{93,37}</string>
            </dict>
            <key>update_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{272,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,26}}</string>
                <key>sourceSize</key>
                <string>{272,26}</string>
            </dict>
            <key>update_jindu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,448},{461,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,14}}</string>
                <key>sourceSize</key>
                <string>{461,14}</string>
            </dict>
            <key>update_mingchengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,379},{223,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,48}}</string>
                <key>sourceSize</key>
                <string>{223,48}</string>
            </dict>
            <key>update_npcduihuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{495,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,196}}</string>
                <key>sourceSize</key>
                <string>{495,196}</string>
            </dict>
            <key>update_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,418},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>update_xinxikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{328,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,106}}</string>
                <key>sourceSize</key>
                <string>{328,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c780f0f7b3dc9da8db4af91d6f4526d6:b40d3e58f134e7bf22f67140d5a33c5b:8f3ab1acf67f14847765aefb80ddb8e8$</string>
            <key>textureFileName</key>
            <string>update.png</string>
        </dict>
    </dict>
</plist>
