<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qijinqichu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{145,78}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{145,78}}</string>
                <key>sourceSize</key>
                <string>{199,114}</string>
            </dict>
            <key>qijinqichu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,82},{167,96}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{167,96}}</string>
                <key>sourceSize</key>
                <string>{199,114}</string>
            </dict>
            <key>qijinqichu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,101},{179,104}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{179,104}}</string>
                <key>sourceSize</key>
                <string>{199,114}</string>
            </dict>
            <key>qijinqichu_inn_suoup.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,180},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>qijinqichu_jixufanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,63},{191,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,36}}</string>
                <key>sourceSize</key>
                <string>{191,36}</string>
            </dict>
            <key>qijinqichu_qijinqichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,432}}</string>
                <key>sourceSize</key>
                <string>{654,432}</string>
            </dict>
            <key>qijinqichu_qijinqichu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{202,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,59}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>qijinqichu_suodown.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,180},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qijinqichu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e9558f1deeeb13b12ba961f78bffabd:8765508ed75c110fbdb7df0bf321c14c:b115eaa05ce6d5c22655d7a71357de2c$</string>
            <key>textureFileName</key>
            <string>qijinqichu.png</string>
        </dict>
    </dict>
</plist>
