<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>practice_baoji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{144,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>practice_baoji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,165},{144,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>practice_baoji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,102},{142,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{142,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>practice_baoji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,67},{144,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>practice_baoji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,30},{144,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,35}}</string>
                <key>sourceSize</key>
                <string>{144,35}</string>
            </dict>
            <key>practice_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,104},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>practice_jingyanxiulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,198},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>practice_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{178,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,26}}</string>
                <key>sourceSize</key>
                <string>{178,26}</string>
            </dict>
            <key>practice_leixing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>practice_leixing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,170},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>practice_leixing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,227},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>practice_leixing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,139},{86,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,26}}</string>
                <key>sourceSize</key>
                <string>{86,26}</string>
            </dict>
            <key>practice_leixing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>practice_leixing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,165},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{93,94}</string>
            </dict>
            <key>practice_wujiangxiulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{127,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,38}}</string>
                <key>sourceSize</key>
                <string>{127,38}</string>
            </dict>
            <key>practice_xiulianditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,98}}</string>
                <key>sourceSize</key>
                <string>{198,98}</string>
            </dict>
            <key>practice_xiulianxiayicixuyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,30},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>practice_yuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,42},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>practice.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5fce1a137cd71ef9e78278a13497d84:e493c91bada6587ac3cba45005225fcb:acf8f3e362c2fcd9513912532bb15166$</string>
            <key>textureFileName</key>
            <string>practice.png</string>
        </dict>
    </dict>
</plist>
