<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangcheng_bangup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,152},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>huangcheng_fangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,2},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>huangcheng_guangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,2},{156,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,108}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>huangcheng_haohuaguanzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{293,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,111}}</string>
                <key>sourceSize</key>
                <string>{293,111}</string>
            </dict>
            <key>huangcheng_huangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{161,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,87}}</string>
                <key>sourceSize</key>
                <string>{161,87}</string>
            </dict>
            <key>huangcheng_huangcheng_erhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,91},{142,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,48}}</string>
                <key>sourceSize</key>
                <string>{142,48}</string>
            </dict>
            <key>huangcheng_sanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,112},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>huangcheng_yihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,115},{142,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,46}}</string>
                <key>sourceSize</key>
                <string>{142,46}</string>
            </dict>
            <key>huangcheng_zhengdouzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1323,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1323,640}}</string>
                <key>sourceSize</key>
                <string>{1323,640}</string>
            </dict>
            <key>huangcheng_zhengduojieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,112},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{180,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangcheng.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419b6ed3d9584fd9b14e2701a5a6850d:608fe5fcc1b7c1fc2234b1c776845f00:a1e4c6feed9731934bdd1524a9623b32$</string>
            <key>textureFileName</key>
            <string>huangcheng.png</string>
        </dict>
    </dict>
</plist>
