<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hougongjiali_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,335},{500,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,283}}</string>
                <key>sourceSize</key>
                <string>{500,283}</string>
            </dict>
            <key>hougongjiali_beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1130,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1130,640}}</string>
                <key>sourceSize</key>
                <string>{1130,640}</string>
            </dict>
            <key>hougongjiali_chongxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1059},{118,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,121}}</string>
                <key>sourceSize</key>
                <string>{118,121}</string>
            </dict>
            <key>hougongjiali_hougongjiali.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,436},{199,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{199,63}}</string>
                <key>sourceSize</key>
                <string>{315,63}</string>
            </dict>
            <key>hougongjiali_jiali.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{223,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,432}}</string>
                <key>sourceSize</key>
                <string>{223,432}</string>
            </dict>
            <key>hougongjiali_jialihuikui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1022},{140,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{140,35}}</string>
                <key>sourceSize</key>
                <string>{198,35}</string>
            </dict>
            <key>hougongjiali_kuizeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,1025},{118,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,121}</string>
            </dict>
            <key>hougongjiali_mingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,982},{152,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,38}}</string>
                <key>sourceSize</key>
                <string>{152,38}</string>
            </dict>
            <key>hougongjiali_shangci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1025},{118,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,121}</string>
            </dict>
            <key>hougongjiali_zhanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{502,331}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{502,331}}</string>
                <key>sourceSize</key>
                <string>{508,339}</string>
            </dict>
            <key>queenBody1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,620},{159,360}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{159,360}}</string>
                <key>sourceSize</key>
                <string>{165,376}</string>
            </dict>
            <key>queenBody1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,620},{160,329}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{160,329}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
            <key>queenBody1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,696},{166,327}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{166,327}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
            <key>queenBody1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,838},{152,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,332}}</string>
                <key>sourceSize</key>
                <string>{152,332}</string>
            </dict>
            <key>queenBody1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,951},{152,333}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{152,333}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
            <key>queenBody1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,501},{170,335}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{170,335}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
            <key>queenBody1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,620},{164,353}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{164,353}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
            <key>queenBody1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,2},{172,347}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{172,347}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
            <key>queenBody1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,351},{172,343}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{172,343}}</string>
                <key>sourceSize</key>
                <string>{172,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hougongjiali.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af83063d9606c6a05db9c545ed33ae99:7a8bbd6b961d9bb4e28266ab36a691b0:052c11148e83104c4169554eb8c6527a$</string>
            <key>textureFileName</key>
            <string>hougongjiali.png</string>
        </dict>
    </dict>
</plist>
