<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanggong_baiguanfenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,293},{72,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,188}}</string>
                <key>sourceSize</key>
                <string>{74,190}</string>
            </dict>
            <key>huanggong_canbaibixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,64},{119,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,32}}</string>
                <key>sourceSize</key>
                <string>{119,32}</string>
            </dict>
            <key>huanggong_canbaihuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{655,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,564}}</string>
                <key>sourceSize</key>
                <string>{655,564}</string>
            </dict>
            <key>huanggong_chaobaihuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,256},{72,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,188}}</string>
                <key>sourceSize</key>
                <string>{74,190}</string>
            </dict>
            <key>huanggong_hanyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,2},{100,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{100,99}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>huanggong_huanggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1451,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1451,583}}</string>
                <key>sourceSize</key>
                <string>{1451,583}</string>
            </dict>
            <key>huanggong_juntuanqizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,2},{269,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,128}}</string>
                <key>sourceSize</key>
                <string>{269,128}</string>
            </dict>
            <key>huanggong_yukushangfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,103},{72,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,188}}</string>
                <key>sourceSize</key>
                <string>{74,190}</string>
            </dict>
            <key>huanggong_yukushangfu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{211,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,60}}</string>
                <key>sourceSize</key>
                <string>{211,60}</string>
            </dict>
            <key>huanggong_zhengshoushuiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,98},{72,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,188}}</string>
                <key>sourceSize</key>
                <string>{74,190}</string>
            </dict>
            <key>huanggong_zhidingchaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,64},{72,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,190}}</string>
                <key>sourceSize</key>
                <string>{74,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huanggong.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00768da65194266b0bea8dbf2e9efa46:1ef68516bd7f779c39e9d9545f834239:e244e70ad365ae29e50a71bb9e9e9111$</string>
            <key>textureFileName</key>
            <string>huanggong.png</string>
        </dict>
    </dict>
</plist>
