<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_1001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,432},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_1001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,428},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_1001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,409},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_1002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,315},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>battle_1002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,292},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>battle_1002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,269},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>battle_1003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,534},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>battle_1003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,540},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>battle_1003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,521},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>battle_1004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,792},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>battle_1004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,769},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>battle_1004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,746},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>battle_1005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,499},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_1005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,495},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_1005_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,477},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_1006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,517},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>battle_1006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,469},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>battle_1006_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,446},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>battle_1007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,473},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_1007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,455},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_1007_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,451},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_1008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,659},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>battle_1008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,659},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>battle_1008_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,659},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>battle_1009_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,637},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>battle_1009_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,637},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>battle_1009_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,637},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>battle_1010_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,405},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_1010_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,386},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_1010_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,382},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_baise.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,680},{66,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,5}}</string>
                <key>sourceSize</key>
                <string>{68,7}</string>
            </dict>
            <key>battle_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,359},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>battle_che1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,359},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_che2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,653},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_che3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,630},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_difang.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,612},{153,47}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,47}}</string>
                <key>sourceSize</key>
                <string>{161,47}</string>
            </dict>
            <key>battle_dijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,673},{66,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,5}}</string>
                <key>sourceSize</key>
                <string>{68,7}</string>
            </dict>
            <key>battle_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,650},{68,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,7}}</string>
                <key>sourceSize</key>
                <string>{68,7}</string>
            </dict>
            <key>battle_dikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,659},{68,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,5}}</string>
                <key>sourceSize</key>
                <string>{68,5}</string>
            </dict>
            <key>battle_gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,681},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,681},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_gong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,681},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_gongpochengmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{362,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,96}}</string>
                <key>sourceSize</key>
                <string>{362,96}</string>
            </dict>
            <key>battle_guankarenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,882},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>battle_guanwei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,269},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>battle_guanwei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,329},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>battle_guanwei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,446},{76,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,27}}</string>
                <key>sourceSize</key>
                <string>{76,27}</string>
            </dict>
            <key>battle_guanwei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,637},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>battle_guanwei5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,534},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>battle_heisejindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,366},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>battle_jian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,738},{248,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,168}}</string>
                <key>sourceSize</key>
                <string>{248,168}</string>
            </dict>
            <key>battle_jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{244,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,185}}</string>
                <key>sourceSize</key>
                <string>{244,185}</string>
            </dict>
            <key>battle_jingyingbiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,584},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>battle_juexingnuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,632},{66,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,3}}</string>
                <key>sourceSize</key>
                <string>{68,5}</string>
            </dict>
            <key>battle_mou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,607},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_mou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,584},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_mou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,561},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_pocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,321},{962,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,317}}</string>
                <key>sourceSize</key>
                <string>{962,317}</string>
            </dict>
            <key>battle_qi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,538},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_qi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,515},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_qi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,492},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,403},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,361},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_qiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2029,338},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>battle_shuiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{962,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,317}}</string>
                <key>sourceSize</key>
                <string>{962,317}</string>
            </dict>
            <key>battle_shuiyanchengchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,534},{373,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,96}}</string>
                <key>sourceSize</key>
                <string>{373,96}</string>
            </dict>
            <key>battle_shuzixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,746},{120,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,23}}</string>
                <key>sourceSize</key>
                <string>{120,23}</string>
            </dict>
            <key>battle_tiaoguodown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>battle_tiaoguoup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>battle_tishengzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,241},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>battle_touxiangkuangbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,301},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>battle_wenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,710},{220,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{220,216}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>battle_xinxitu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,194},{93,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,45}</string>
            </dict>
            <key>battle_xuanzhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,687},{147,57}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,57}}</string>
                <key>sourceSize</key>
                <string>{167,57}</string>
            </dict>
            <key>battle_xuanzhongtouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,384},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>battle_xuexingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,338},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>battle_youjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,666},{66,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,5}}</string>
                <key>sourceSize</key>
                <string>{68,7}</string>
            </dict>
            <key>battle_zhandoukaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,338},{460,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,194}}</string>
                <key>sourceSize</key>
                <string>{460,194}</string>
            </dict>
            <key>battle_zhandoukaishibaise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{460,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,194}}</string>
                <key>sourceSize</key>
                <string>{460,194}</string>
            </dict>
            <key>battle_zhandoushengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,640},{278,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,143}}</string>
                <key>sourceSize</key>
                <string>{278,143}</string>
            </dict>
            <key>battle_zhandoushibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{282,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,143}}</string>
                <key>sourceSize</key>
                <string>{282,143}</string>
            </dict>
            <key>battle_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,632},{297,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,104}}</string>
                <key>sourceSize</key>
                <string>{297,104}</string>
            </dict>
            <key>battle_zhongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,359},{80,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,5}}</string>
                <key>sourceSize</key>
                <string>{82,7}</string>
            </dict>
            <key>battle_zhonglifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,661},{161,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,47}}</string>
                <key>sourceSize</key>
                <string>{161,47}</string>
            </dict>
            <key>battle_zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,771},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>battle_zidongdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,556},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>battle_zidongup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,475},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>battle_ziji.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,563},{157,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,47}}</string>
                <key>sourceSize</key>
                <string>{161,47}</string>
            </dict>
            <key>heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{979,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{979,334}}</string>
                <key>sourceSize</key>
                <string>{979,334}</string>
            </dict>
            <key>wenzixiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{445,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,48}}</string>
                <key>sourceSize</key>
                <string>{445,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1fd7c1c2daf434d7fa202cae157d61:244ff02be8d7ec785fb7435dc48a3554:7c9c19caf5e5db18b98f0e67f10858ff$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
