<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>junfu_chengzhanchubing.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,475},{151,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,28}}</string>
                <key>sourceSize</key>
                <string>{151,28}</string>
            </dict>
            <key>junfu_chexuandown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
            <key>junfu_chexuanup.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,188},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
            <key>junfu_chuzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,281},{149,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,132}}</string>
                <key>sourceSize</key>
                <string>{149,132}</string>
            </dict>
            <key>junfu_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,260}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>junfu_fuzhushanxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,445},{151,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,28}}</string>
                <key>sourceSize</key>
                <string>{151,28}</string>
            </dict>
            <key>junfu_guanai.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,456},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>junfu_quanxuandown.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,95},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
            <key>junfu_quanxuanup.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
            <key>junfu_shoubing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{149,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,132}}</string>
                <key>sourceSize</key>
                <string>{149,132}</string>
            </dict>
            <key>junfu_xiancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,415},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>junfu_xuanzechuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,264},{151,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,28}}</string>
                <key>sourceSize</key>
                <string>{151,28}</string>
            </dict>
            <key>junfu_xuanzetaofa.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,415},{151,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,28}}</string>
                <key>sourceSize</key>
                <string>{151,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>junfu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d50b7a7508afd654663c82a0ea33244:c2e7612f918f235c381ac372349058d5:76f452a092fc660004080280588bc1c3$</string>
            <key>textureFileName</key>
            <string>junfu.png</string>
        </dict>
    </dict>
</plist>
