<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>instanceMapUI_baocun.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,426},{77,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>instanceMapUI_bingzhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{134,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,390}}</string>
                <key>sourceSize</key>
                <string>{134,390}</string>
            </dict>
            <key>instanceMapUI_bingzhongkuangheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,876},{390,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,127}}</string>
                <key>sourceSize</key>
                <string>{390,127}</string>
            </dict>
            <key>instanceMapUI_chuzhanzhenrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,32},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>instanceMapUI_chuzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,876},{149,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,132}}</string>
                <key>sourceSize</key>
                <string>{149,132}</string>
            </dict>
            <key>instanceMapUI_chuzheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,637},{67,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,38}}</string>
                <key>sourceSize</key>
                <string>{67,38}</string>
            </dict>
            <key>instanceMapUI_chuzhengdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,880},{149,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,132}}</string>
                <key>sourceSize</key>
                <string>{149,132}</string>
            </dict>
            <key>instanceMapUI_fubenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,484}}</string>
                <key>sourceSize</key>
                <string>{287,484}</string>
            </dict>
            <key>instanceMapUI_fubenshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>instanceMapUI_gongdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,610},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_gongup.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,592},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_guankahuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,488},{188,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,294}}</string>
                <key>sourceSize</key>
                <string>{188,294}</string>
            </dict>
            <key>instanceMapUI_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,321},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>instanceMapUI_moushidow.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,504},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_moushiup .png</key>
            <dict>
                <key>frame</key>
                <string>{{742,518},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,303},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>instanceMapUI_qiangdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,500},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_qiangup.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,426},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_qidown.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,408},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_qiup.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,211},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_quandown.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,119},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_quanup.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,784},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_tongguanjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{44,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,135}}</string>
                <key>sourceSize</key>
                <string>{44,135}</string>
            </dict>
            <key>instanceMapUI_weishangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,408},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>instanceMapUI_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,63},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>instanceMapUI_xuanzhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{176,274}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{176,274}}</string>
                <key>sourceSize</key>
                <string>{188,294}</string>
            </dict>
            <key>instanceMapUI_yijianbuzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,278},{138,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,41}}</string>
                <key>sourceSize</key>
                <string>{138,41}</string>
            </dict>
            <key>instanceMapUI_zhanchedown.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,784},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_zhancheup.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,784},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>instanceMapUI_zhujun.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,596},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>instanceMapUI_zonghaoliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,677},{52,22}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{52,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>instanceMapUI_zongjun,ling.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,480},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>instanceMapUI_zongliangcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,456},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>instanceMapUI_zongzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,432},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>instanceMapUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda0b085dba276851d127bfdf7f97864:c0d25c4a1b2e0c36c253b72a5b63150b:a1d8c75f0832a8af5209768eeeb3aebd$</string>
            <key>textureFileName</key>
            <string>instanceMapUI.png</string>
        </dict>
    </dict>
</plist>
