<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission_1renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,350},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>mission_fenye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,151}}</string>
                <key>sourceSize</key>
                <string>{529,151}</string>
            </dict>
            <key>mission_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,62},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,56}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>mission_richang.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,76},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>mission_richang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,342},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mission_richang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,254},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mission_shuzixianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{154,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,58}}</string>
                <key>sourceSize</key>
                <string>{154,58}</string>
            </dict>
            <key>mission_zhixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>mission_zhixian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,246},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mission_zhixian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,158},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mission_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{244,427}}</string>
                <key>offset</key>
                <string>{81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{244,427}}</string>
                <key>sourceSize</key>
                <string>{406,427}</string>
            </dict>
            <key>mission_zhuxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,150},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mission_zhuxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,62},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mission.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d227c51a1aa81138ed3b819ad7b64286:06ee52a6b122a8ea429907abb03998d6:11d2edf9f142b580526144416d7946f2$</string>
            <key>textureFileName</key>
            <string>mission.png</string>
        </dict>
    </dict>
</plist>
