<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worldWar2_1tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,189},{240,381}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{240,381}}</string>
                <key>sourceSize</key>
                <string>{242,391}</string>
            </dict>
            <key>worldWar2_2tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{240,381}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{240,381}}</string>
                <key>sourceSize</key>
                <string>{242,391}</string>
            </dict>
            <key>worldWar2_3tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{238,391}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,391}}</string>
                <key>sourceSize</key>
                <string>{242,391}</string>
            </dict>
            <key>worldWar2_4tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,277},{236,377}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{236,377}}</string>
                <key>sourceSize</key>
                <string>{242,391}</string>
            </dict>
            <key>worldWar2_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,273}}</string>
                <key>sourceSize</key>
                <string>{534,273}</string>
            </dict>
            <key>worldWar2_ditu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{345,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,185}}</string>
                <key>sourceSize</key>
                <string>{345,185}</string>
            </dict>
            <key>worldWar2_guan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{176,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,277}}</string>
                <key>sourceSize</key>
                <string>{176,277}</string>
            </dict>
            <key>worldWar2_guan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{176,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,277}}</string>
                <key>sourceSize</key>
                <string>{176,277}</string>
            </dict>
            <key>worldWar2_guan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,718},{176,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,277}}</string>
                <key>sourceSize</key>
                <string>{176,277}</string>
            </dict>
            <key>worldWar2_guan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{176,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,277}}</string>
                <key>sourceSize</key>
                <string>{176,277}</string>
            </dict>
            <key>worldWar2_guan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,590},{176,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,277}}</string>
                <key>sourceSize</key>
                <string>{176,277}</string>
            </dict>
            <key>worldWar2_huangjinzhiluan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{155,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{155,49}}</string>
                <key>sourceSize</key>
                <string>{235,49}</string>
            </dict>
            <key>worldWar2_huangjinzhiluan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{211,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,407}}</string>
                <key>sourceSize</key>
                <string>{211,407}</string>
            </dict>
            <key>worldWar2_jinyiyexing.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,572},{209,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,407}}</string>
                <key>sourceSize</key>
                <string>{209,407}</string>
            </dict>
            <key>worldWar2_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,189},{101,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,147}}</string>
                <key>sourceSize</key>
                <string>{101,147}</string>
            </dict>
            <key>worldWar2_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,857},{106,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{106,71}</string>
            </dict>
            <key>worldWar2_kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,718},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>worldWar2_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{165,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,167}}</string>
                <key>sourceSize</key>
                <string>{165,167}</string>
            </dict>
            <key>worldWar2_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,436},{87,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,63}}</string>
                <key>sourceSize</key>
                <string>{87,63}</string>
            </dict>
            <key>worldWar2_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,501},{71,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>worldWar2_zhixiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>worldWar2_zuiqiangwangzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,656},{202,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,60}}</string>
                <key>sourceSize</key>
                <string>{202,60}</string>
            </dict>
            <key>worldWar_longzhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,338},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>worldWar_zuiqiangwangzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,385},{209,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,407}}</string>
                <key>sourceSize</key>
                <string>{209,407}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldWar2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47406ad91a0bc75405ca3698fbb242b1:246487206df6f17bde5bc060f1fc8335:9dc7471ebb023d42d5e21899c6c7e1bd$</string>
            <key>textureFileName</key>
            <string>worldWar2.png</string>
        </dict>
    </dict>
</plist>
