<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caochuanjiejian_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,640}}</string>
                <key>sourceSize</key>
                <string>{1280,640}</string>
            </dict>
            <key>caochuanjiejian_chuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{307,194}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{307,194}}</string>
                <key>sourceSize</key>
                <string>{345,224}</string>
            </dict>
            <key>caochuanjiejian_huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,2},{65,182}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,182}}</string>
                <key>sourceSize</key>
                <string>{65,186}</string>
            </dict>
            <key>caochuanjiejian_jinjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{37,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{37,173}}</string>
                <key>sourceSize</key>
                <string>{39,175}</string>
            </dict>
            <key>caochuanjiejian_yinjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{31,151}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{31,151}}</string>
                <key>sourceSize</key>
                <string>{35,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caochuanjiejian.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b730e7cb227e88a00dfcbe62d651da0d:3a7ebe7169b776b7929c057c7d442ac3:d7af5c3f9e8a7dd2e0353644b6cefc3d$</string>
            <key>textureFileName</key>
            <string>caochuanjiejian.png</string>
        </dict>
    </dict>
</plist>
