<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{130,95}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{130,95}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,256},{136,97}}</string>
                <key>offset</key>
                <string>{-37,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,32},{136,97}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{142,125}}</string>
                <key>offset</key>
                <string>{-35,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{142,125}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{144,129}}</string>
                <key>offset</key>
                <string>{-38,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,129}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{136,129}}</string>
                <key>offset</key>
                <string>{-33,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{136,129}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,129},{140,127}}</string>
                <key>offset</key>
                <string>{-36,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{140,127}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{138,109}}</string>
                <key>offset</key>
                <string>{-35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{138,109}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{140,131}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,133}}</string>
                <key>offset</key>
                <string>{-37,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{146,133}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{134,131}}</string>
                <key>offset</key>
                <string>{-37,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,133},{138,121}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{138,121}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{134,99}}</string>
                <key>offset</key>
                <string>{-35,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{134,99}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,99},{128,99}}</string>
                <key>offset</key>
                <string>{-37,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{128,99}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,103},{116,69}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,54},{116,69}}</string>
                <key>sourceSize</key>
                <string>{220,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2020.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:111dd0dff09f27a20508008c1c6bd822:8b550850fc3195d26b03a92c60664140:e6f794d20bc98a226bce134c2372f4d9$</string>
            <key>textureFileName</key>
            <string>model2020.png</string>
        </dict>
    </dict>
</plist>
