<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{99,138}}</string>
                <key>offset</key>
                <string>{-151,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,114},{99,138}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,142},{169,194}}</string>
                <key>offset</key>
                <string>{-143,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,92},{169,194}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{241,194}}</string>
                <key>offset</key>
                <string>{-107,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,97},{241,194}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,330},{283,214}}</string>
                <key>offset</key>
                <string>{-84,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,77},{283,214}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{369,218}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,79},{369,218}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{411,170}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,129},{411,170}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,142},{409,186}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,99},{409,186}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,120}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,132},{443,120}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{421,138}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{421,138}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,338},{279,140}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,127},{279,140}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,546},{279,116}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,152},{279,116}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{279,118}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,151},{279,118}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,480},{279,118}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,152},{279,118}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,732},{279,94}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,151},{279,94}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{279,94}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,151},{279,94}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{279,94}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,151},{279,94}}</string>
                <key>sourceSize</key>
                <string>{537,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100076.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64f518ba9ea29b20fe9f63fded4988e8:52b5a6b24f5e64c33a41e49a2a495448:c9075133d5fe33acae2397eb98976f50$</string>
            <key>textureFileName</key>
            <string>model100076.png</string>
        </dict>
    </dict>
</plist>
