<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,244},{174,234}}</string>
                <key>offset</key>
                <string>{-86,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,234}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{192,260}}</string>
                <key>offset</key>
                <string>{-78,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,260}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,518},{206,274}}</string>
                <key>offset</key>
                <string>{-71,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,274}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{200,260}}</string>
                <key>offset</key>
                <string>{-74,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,260}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,354},{212,268}}</string>
                <key>offset</key>
                <string>{-67,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,268}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,186},{234,268}}</string>
                <key>offset</key>
                <string>{-57,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,268}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,184},{256,258}}</string>
                <key>offset</key>
                <string>{-46,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{256,258}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{266,240}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{266,240}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{284,180}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,88},{284,180}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,170},{314,182}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,99},{314,182}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,350},{314,166}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,106},{314,166}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{320,182}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,94},{320,182}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{326,182}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,94},{326,182}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{326,164}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,112},{326,164}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,170},{326,178}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,98},{326,178}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{328,166}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,110},{328,166}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,172}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,104},{330,172}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{330,166}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,110},{330,166}}</string>
                <key>sourceSize</key>
                <string>{350,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1062.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5de94107f74362cea33cab8a5a50012:569f3c7b672589fc21f36c4c9fa0e937:701d4454ef3c3fd3613773fba95ff12b$</string>
            <key>textureFileName</key>
            <string>model1062.png</string>
        </dict>
    </dict>
</plist>
