<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,412},{36,64}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,153},{36,64}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{38,86}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,131},{38,86}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,390},{38,106}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,111},{38,106}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{38,132}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,85},{38,132}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,174},{38,164}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{38,164}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{42,138}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{42,138}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{50,170}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{50,170}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,340},{46,152}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{46,152}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,208},{48,180}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{48,180}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,204}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{54,204}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{50,202}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{50,202}}</string>
                <key>sourceSize</key>
                <string>{100,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100088.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67b1f3b58027acb279559c7087d0d00a:3ab964ab5294055f5a104349915ba0ff:2cbd1ce4c5ac3a4e0a7ca7cde708740b$</string>
            <key>textureFileName</key>
            <string>model100088.png</string>
        </dict>
    </dict>
</plist>
