<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,298},{382,332}}</string>
                <key>offset</key>
                <string>{-12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,155},{382,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,308},{356,390}}</string>
                <key>offset</key>
                <string>{-31,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,95},{356,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{362,366}}</string>
                <key>offset</key>
                <string>{-43,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,123},{362,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,318}}</string>
                <key>offset</key>
                <string>{-29,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,172},{422,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{386,304}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,168},{386,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{370,318}}</string>
                <key>offset</key>
                <string>{-29,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,132},{370,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{378,304}}</string>
                <key>offset</key>
                <string>{-41,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,144},{378,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>run8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{422,294}}</string>
                <key>offset</key>
                <string>{-29,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,183},{422,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model269.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e794bad974a15e84609d0281661a877e:f1bf00f4e471ae0fd26ce44e41922bb0:46f1a2ee182a4116627b5fa34433ff8a$</string>
            <key>textureFileName</key>
            <string>model269.png</string>
        </dict>
    </dict>
</plist>
