<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,850},{102,84}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,98},{102,84}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{114,116}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{114,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,516},{126,156}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,47},{126,156}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{122,166}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,33},{122,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{148,168}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{148,168}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,170}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{168,170}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{164,170}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{164,170}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{160,168}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{160,168}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,686},{152,162}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{152,162}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,854},{152,162}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{152,162}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{104,166}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{104,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,346},{82,152}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,23},{82,152}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,174},{80,128}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,23},{80,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,936},{50,76}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{50,76}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2084.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9930eb2bb08521fa44be231d4ce2489:69b06bb2853f3d7b8d4bb0a45c77d5ad:6cc43941abcb19231b37acc45e26c832$</string>
            <key>textureFileName</key>
            <string>model2084.png</string>
        </dict>
    </dict>
</plist>
