<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,798},{173,167}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{173,167}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,798},{173,167}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{173,167}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{189,191}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{189,191}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{189,191}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{189,191}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,205},{189,191}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{189,191}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,205},{189,191}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{189,191}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{181,197}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{181,197}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{181,197}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{181,197}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{189,201}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{189,201}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{189,201}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{189,201}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,205}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,205}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,607},{181,189}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{181,189}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,607},{181,189}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{181,189}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,816},{185,191}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{185,191}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,816},{185,191}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{185,191}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,412},{187,193}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{187,193}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,412},{187,193}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{187,193}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{177,199}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{177,199}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{177,199}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{177,199}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{169,205}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,205}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{145,201}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{145,201}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{145,201}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{145,201}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,209},{149,201}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{149,201}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,619},{153,195}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{153,195}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,619},{153,195}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{153,195}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,195},{157,181}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{157,181}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{151,181}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{151,181}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{151,181}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{151,181}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
            <key>idle8_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,398},{149,183}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{149,183}}</string>
                <key>sourceSize</key>
                <string>{197,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model4630.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dab1702343bccea7bd1daa031f37a309:6b6e0ad9bd606d190e1894c4b644d72a:5ecdf3eac45810c2e4e4264a825bd270$</string>
            <key>textureFileName</key>
            <string>model4630.png</string>
        </dict>
    </dict>
</plist>
