<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model9.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7930179f937c01fd391c0d7b2aaa6e11:d3d91df152e7cbd1189f22dbc1e94d74:3b710fbc1dd54ac5dead9ecf26e63f77$</string>
            <key>textureFileName</key>
            <string>model9.png</string>
        </dict>
    </dict>
</plist>
