<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{83,93}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,93}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,69},{83,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{83,57}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{83,73}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,182},{83,79}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,93},{83,87}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{83,89}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,192},{83,91}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{83,91}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>attack8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{83,91}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,91}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,425},{53,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{53,79}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,263},{53,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{53,79}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,344},{53,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{53,79}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,263},{53,79}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{53,79}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,77},{53,77}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{53,77}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{53,77}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{53,77}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,423},{53,77}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{53,77}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,344},{53,77}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{53,77}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,95},{53,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{53,91}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{53,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{53,91}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,378},{55,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{55,91}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,285},{55,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{55,91}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,378},{55,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{55,91}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,285},{55,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{55,91}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{53,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{53,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{131,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22da00a0edaa1098bdafeb1f46d17d48:df44f19941d72620b509d4b06c239096:54f673580912e254f765488fdff778de$</string>
            <key>textureFileName</key>
            <string>model10.png</string>
        </dict>
    </dict>
</plist>
