<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,658},{38,288}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,37},{38,288}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{86,310}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,30},{86,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,330}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,31},{98,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{106,322}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,33},{106,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{98,298}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,65},{98,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{70,64}}</string>
                <key>offset</key>
                <string>{10,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,276},{70,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,648},{108,100}}</string>
                <key>offset</key>
                <string>{9,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,260},{108,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,314},{130,114}}</string>
                <key>offset</key>
                <string>{11,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,250},{130,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,750},{134,86}}</string>
                <key>offset</key>
                <string>{-6,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,270},{134,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,958},{126,48}}</string>
                <key>offset</key>
                <string>{-12,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,304},{126,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,430},{146,112}}</string>
                <key>offset</key>
                <string>{17,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,269},{146,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,838},{164,66}}</string>
                <key>offset</key>
                <string>{29,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,283},{164,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,544},{202,102}}</string>
                <key>offset</key>
                <string>{25,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,283},{202,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,648},{154,74}}</string>
                <key>offset</key>
                <string>{5,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,315},{154,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1006.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a304fdf93ab76dd2e5f02fcd766436:9055dff6fc42faa2cebb78d77d29a2e3:c68ee0f2eee46642cba5a61ae6021062$</string>
            <key>textureFileName</key>
            <string>model1006.png</string>
        </dict>
    </dict>
</plist>
