<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,860},{145,158}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{145,158}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,670},{179,188}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,188}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,248},{175,220}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,220}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{143,230}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{143,230}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,244}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{153,244}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,470},{171,198}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{171,198}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{163,190}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{163,190}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,420},{153,176}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,74},{153,176}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,224},{153,194}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{153,194}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{159,220}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{159,220}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,714},{155,212}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{155,212}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{137,214}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{137,214}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{113,232}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{113,232}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,194},{87,172}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{87,172}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model5101.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f047437ca6c4401f28055b5bffdee59:45eb695789682eec914a8f733dcd615b:5803da0a2c16ab1565071d5e3282ea8a$</string>
            <key>textureFileName</key>
            <string>model5101.png</string>
        </dict>
    </dict>
</plist>
