<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,455},{77,47}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,135},{77,47}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,455},{77,47}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,135},{77,47}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,455},{77,47}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,135},{77,47}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,396},{107,57}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,134},{107,57}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,396},{107,57}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,134},{107,57}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,396},{107,57}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,134},{107,57}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,396},{137,77}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,120},{137,77}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,396},{137,77}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,120},{137,77}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,396},{137,77}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,120},{137,77}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,171},{143,123}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,74},{143,123}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,171},{143,123}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,74},{143,123}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,171},{143,123}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,74},{143,123}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{143,167}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{143,167}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{143,167}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{143,167}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{143,167}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{143,167}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,199},{167,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{167,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,199},{167,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{167,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,199},{167,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{167,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{167,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{167,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{167,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{167,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{167,195}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{167,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{165,195}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{165,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{165,195}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{165,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{165,195}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{165,195}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{165,91}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{165,91}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
            <key>idle8_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{165,91}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{165,91}}</string>
                <key>sourceSize</key>
                <string>{169,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model4614.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5367cf156f7173f90228b58e602feae8:a6f0211f8e31551049c6ce580e096cf8:c851c039c7b63bbca159316f057ee592$</string>
            <key>textureFileName</key>
            <string>model4614.png</string>
        </dict>
    </dict>
</plist>
