<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,232},{184,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{184,196}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,460},{184,196}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{184,196}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,616},{190,190}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{190,190}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,424},{190,190}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{190,190}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,232},{190,190}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{190,190}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{230,220}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{230,220}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,226}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{224,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{240,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{240,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,230},{232,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{232,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{224,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{216,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{216,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,684},{210,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{210,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,658},{204,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{204,228}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,460},{194,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{194,222}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,430},{182,192}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{182,192}}</string>
                <key>sourceSize</key>
                <string>{250,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1013.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069f641ab1b99aec936f5a9cc78c9faf:a5c65dcaa0850fa2ed0e5b171588a579:7ff51f9edee1253b16badc6d7f2e9193$</string>
            <key>textureFileName</key>
            <string>model1013.png</string>
        </dict>
    </dict>
</plist>
