<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,186}}</string>
                <key>offset</key>
                <string>{3,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{272,186}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,204}}</string>
                <key>offset</key>
                <string>{3,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{272,204}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{258,194}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{258,194}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,558},{230,186}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,95},{230,186}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,178}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,133},{200,178}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,578},{170,168}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,170},{170,168}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,182},{194,182}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,186},{194,182}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,182},{194,182}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,186},{194,182}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,182},{194,182}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,186},{194,182}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{226,198}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,186},{226,198}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,552},{226,190}}</string>
                <key>offset</key>
                <string>{-2,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,194},{226,190}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,396},{236,180}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,204},{236,180}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,198},{240,196}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,203},{240,196}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,198},{240,196}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,203},{240,196}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,366},{240,184}}</string>
                <key>offset</key>
                <string>{5,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,215},{240,184}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{238,170}}</string>
                <key>offset</key>
                <string>{4,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,214},{238,170}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,382},{238,174}}</string>
                <key>offset</key>
                <string>{4,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,210},{238,174}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,382},{238,174}}</string>
                <key>offset</key>
                <string>{4,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,210},{238,174}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{256,190}}</string>
                <key>offset</key>
                <string>{-2,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,209},{256,190}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{256,178}}</string>
                <key>offset</key>
                <string>{-2,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,221},{256,178}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{256,178}}</string>
                <key>offset</key>
                <string>{-2,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,221},{256,178}}</string>
                <key>sourceSize</key>
                <string>{304,408}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2231.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02a3027ee19bab4aaf16c31cedc40baa:dbe19703be9bb722fd74bd733265cc1c:2ca8a9fd1d82df00d608e00283b967ec$</string>
            <key>textureFileName</key>
            <string>model2231.png</string>
        </dict>
    </dict>
</plist>
