<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{180,294}}</string>
                <key>offset</key>
                <string>{22,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,52},{180,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,998},{196,294}}</string>
                <key>offset</key>
                <string>{17,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,52},{196,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,702},{218,294}}</string>
                <key>offset</key>
                <string>{20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,52},{218,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{182,254}}</string>
                <key>offset</key>
                <string>{21,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,92},{182,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,280},{148,244}}</string>
                <key>offset</key>
                <string>{28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,102},{148,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,418},{204,340}}</string>
                <key>offset</key>
                <string>{26,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,154},{204,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,664},{222,338}}</string>
                <key>offset</key>
                <string>{31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,156},{222,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,280},{248,336}}</string>
                <key>offset</key>
                <string>{26,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,158},{248,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{206,258}}</string>
                <key>offset</key>
                <string>{27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,153},{206,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{188,278}}</string>
                <key>offset</key>
                <string>{26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,153},{188,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,210},{328,244}}</string>
                <key>offset</key>
                <string>{-41,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,125},{328,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{326,240}}</string>
                <key>offset</key>
                <string>{-43,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,121},{326,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,228},{326,278}}</string>
                <key>offset</key>
                <string>{-43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,125},{326,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,478},{236,234}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,125},{236,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,456},{254,206}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,144},{254,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{350,206}}</string>
                <key>offset</key>
                <string>{-53,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,132},{350,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,224}}</string>
                <key>offset</key>
                <string>{-53,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,128},{350,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,250}}</string>
                <key>offset</key>
                <string>{-53,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,110},{350,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,208},{278,208}}</string>
                <key>offset</key>
                <string>{-18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,132},{278,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{294,204}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,132},{294,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{330,244}}</string>
                <key>offset</key>
                <string>{-55,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,107},{330,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{324,252}}</string>
                <key>offset</key>
                <string>{-55,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,100},{324,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{320,276}}</string>
                <key>offset</key>
                <string>{-56,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{320,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,248},{254,228}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,121},{254,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,508},{254,192}}</string>
                <key>offset</key>
                <string>{-29,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,138},{254,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1085.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9909397c9527fd1e70ee075bf2d8824:509bba115ed103911e7e9ddf93ed3398:2dcc54412246d6f9fd1c1a1dc72b9a40$</string>
            <key>textureFileName</key>
            <string>model1085.png</string>
        </dict>
    </dict>
</plist>
