<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,230},{94,106}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,215},{94,106}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,354},{102,106}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,223},{102,106}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{104,116}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,218},{104,116}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,240},{96,112}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,215},{96,112}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,118}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,212},{94,118}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{98,114}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,214},{98,114}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,356},{96,112}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,215},{96,112}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{90,114}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,215},{90,114}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,116}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,217},{94,116}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,108}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,220},{94,108}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,120},{96,108}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,219},{96,108}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,112},{94,102}}</string>
                <key>offset</key>
                <string>{-8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,224},{94,102}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2065.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766b5fc2f4526b46d0c0c22e698e470d:6bc40d819d5d4c70424e3c6140004f68:a1824aa8aac616833da6d3995305c0d4$</string>
            <key>textureFileName</key>
            <string>model2065.png</string>
        </dict>
    </dict>
</plist>
