<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{112,105}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{112,105}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,901},{104,101}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{104,101}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,899},{102,93}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{102,93}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,197},{102,91}}</string>
                <key>offset</key>
                <string>{-16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{102,91}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,376},{110,153}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{110,153}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,551},{112,161}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{112,161}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{132,173}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{132,173}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,193}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{160,193}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{150,177}}</string>
                <key>offset</key>
                <string>{-35,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{150,177}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{140,173}}</string>
                <key>offset</key>
                <string>{-35,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{140,173}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{144,173}}</string>
                <key>offset</key>
                <string>{-34,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{144,173}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,726},{144,171}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{144,171}}</string>
                <key>sourceSize</key>
                <string>{230,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1035.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e886ac9bf346ca30d91db151d02cec78:a8d0e163b5ff78269d074456cfa55707:1ac9d5e41549bac3ccadec18463d4b9d$</string>
            <key>textureFileName</key>
            <string>model1035.png</string>
        </dict>
    </dict>
</plist>
