<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1736},{170,162}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,48},{170,162}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1736},{170,162}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,48},{170,162}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1558},{182,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{182,176}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1558},{182,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{182,176}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1372},{186,184}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{186,184}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1372},{186,184}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{186,184}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,996},{194,188}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{194,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,996},{194,188}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{194,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1736},{170,164}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{170,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1736},{170,164}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{170,164}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1186},{182,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{182,176}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1186},{182,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{182,176}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1186},{186,184}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{186,184}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1186},{186,184}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{186,184}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1716},{194,188}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{194,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1716},{194,188}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{194,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1364},{170,170}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{170,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1364},{170,170}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{170,170}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{238,224}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{238,224}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{238,224}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{238,224}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{250,232}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{250,232}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{250,232}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{250,232}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{250,250}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{250,250}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{244,246}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{244,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{244,246}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{244,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{238,244}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{238,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{238,244}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{238,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{238,238}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{238,238}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{238,238}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{238,238}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{246,246}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{246,246}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{250,250}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{250,250}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{244,244}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{244,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>idle8_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{244,244}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{244,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2079.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f502825504dbb9a0877abaec63527992:d5a6678db7e5c434b2b777e54b3ecb69:735e811ce2d695fc6e573171ad5d10a6$</string>
            <key>textureFileName</key>
            <string>model2079.png</string>
        </dict>
    </dict>
</plist>
