<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,116},{70,198}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,40},{70,198}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,292},{70,194}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,44},{70,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,446},{70,192}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,46},{70,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,424},{70,192}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,46},{70,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,292},{70,178}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,58},{70,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,336},{66,178}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,58},{66,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,448},{66,176}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,60},{66,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,336},{66,176}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,60},{66,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,504},{184,146}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,69},{184,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,386},{184,146}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,69},{184,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,110},{176,148}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{176,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,264},{186,146}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,69},{186,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{234,112}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,84},{234,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{234,112}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,84},{234,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,110},{236,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,84},{236,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{236,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,84},{236,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,412},{176,136}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,67},{176,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{178,142}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{178,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,198},{176,136}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,67},{176,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,534},{174,136}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,67},{174,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,260},{72,184}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,61},{72,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,260},{72,186}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,59},{72,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,430},{72,202}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,43},{72,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,316},{72,204}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,41},{72,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,146},{72,186}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,59},{72,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,260},{72,162}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,83},{72,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,704},{64,188}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,47},{64,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,626},{64,188}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,47},{64,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,238},{64,190}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,45},{64,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,522},{64,188}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,47},{64,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,516},{64,188}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,47},{64,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,514},{64,188}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,47},{64,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,652},{170,152}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,70},{170,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,146},{152,144}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{152,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{170,144}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,70},{170,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,238},{186,146}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{186,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{180,142}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,72},{180,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,358},{186,144}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{186,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,100},{226,96}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,109},{226,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{230,96}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,109},{230,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{240,106}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,99},{240,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{226,106}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,99},{226,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{240,96}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,109},{240,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,96}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{246,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,116},{214,120}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,83},{214,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,224},{204,132}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,71},{204,132}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{194,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,51},{194,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{184,172}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{184,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{166,174}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{166,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,116},{194,146}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,57},{194,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model247.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47d7eff668b182c8cbd4cdae55eaa1b2:a68f8aba1379e21d683bec2e75cf42f0:349f7e28a708829ee914e718a0b6043a$</string>
            <key>textureFileName</key>
            <string>model247.png</string>
        </dict>
    </dict>
</plist>
