<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,460},{446,456}}</string>
                <key>offset</key>
                <string>{27,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,33},{446,456}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{446,456}}</string>
                <key>offset</key>
                <string>{27,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,33},{446,456}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{446,456}}</string>
                <key>offset</key>
                <string>{27,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,33},{446,456}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,456}}</string>
                <key>offset</key>
                <string>{27,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,33},{446,456}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100199.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88bd125097159f9a3071a52e905583cd:6a4e4dfc79ca390e25a0dd633116afc9:b0615b2ab5b54fd73d1ae4a8c5fe2244$</string>
            <key>textureFileName</key>
            <string>model100199.png</string>
        </dict>
    </dict>
</plist>
