<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,868},{55,154}}</string>
                <key>offset</key>
                <string>{14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,15},{55,154}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,200},{91,176}}</string>
                <key>offset</key>
                <string>{18,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{91,176}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,406},{109,176}}</string>
                <key>offset</key>
                <string>{28,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,2},{109,176}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,406},{131,180}}</string>
                <key>offset</key>
                <string>{40,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{131,180}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,670},{131,196}}</string>
                <key>offset</key>
                <string>{8,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{131,196}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,456},{193,212}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{193,212}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{163,196}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{163,196}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,232},{183,204}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{183,204}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,670},{167,184}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{167,184}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,588},{171,178}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{171,178}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,856},{161,160}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,54},{161,160}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{163,222}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,66},{163,222}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{167,222}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,75},{167,222}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,228}}</string>
                <key>offset</key>
                <string>{-13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{185,228}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{179,218}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,80},{179,218}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{169,202}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,88},{169,202}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,206},{151,198}}</string>
                <key>offset</key>
                <string>{-10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,88},{151,198}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,868},{105,138}}</string>
                <key>offset</key>
                <string>{-41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,112},{105,138}}</string>
                <key>sourceSize</key>
                <string>{211,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2032.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ae18760908d51999f1142843d37a33:ec9662caf0e39b9b20fcd41147bd5694:be92580a129be8d42483f85df199ab44$</string>
            <key>textureFileName</key>
            <string>model2032.png</string>
        </dict>
    </dict>
</plist>
