<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{156,166}}</string>
                <key>offset</key>
                <string>{-50,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{156,166}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{172,170}}</string>
                <key>offset</key>
                <string>{-59,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{172,170}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,166}}</string>
                <key>offset</key>
                <string>{-62,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{174,166}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{172,160}}</string>
                <key>offset</key>
                <string>{-64,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{172,160}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{170,152}}</string>
                <key>offset</key>
                <string>{-65,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{170,152}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{164,146}}</string>
                <key>offset</key>
                <string>{-68,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{164,146}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{158,136}}</string>
                <key>offset</key>
                <string>{-70,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{158,136}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,140},{150,134}}</string>
                <key>offset</key>
                <string>{-64,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{150,134}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,150},{146,132}}</string>
                <key>offset</key>
                <string>{-62,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{146,132}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,170},{140,120}}</string>
                <key>offset</key>
                <string>{-60,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,50},{140,120}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,156},{142,122}}</string>
                <key>offset</key>
                <string>{-61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,48},{142,122}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,174},{140,132}}</string>
                <key>offset</key>
                <string>{-62,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{140,132}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,276},{136,108}}</string>
                <key>offset</key>
                <string>{-62,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{136,108}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,280},{120,102}}</string>
                <key>offset</key>
                <string>{-64,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,69},{120,102}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,280},{80,78}}</string>
                <key>offset</key>
                <string>{-61,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{80,78}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,308},{46,44}}</string>
                <key>offset</key>
                <string>{-62,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,98},{46,44}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,156},{26,24}}</string>
                <key>offset</key>
                <string>{-62,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,108},{26,24}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model3002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a5a7f4eab71167e8b2680f00db71b4b:db46d526f1b6e91eed3f90664d3f4380:e8b499d04b9861c2308c393a41a803d9$</string>
            <key>textureFileName</key>
            <string>model3002.png</string>
        </dict>
    </dict>
</plist>
