<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1106},{436,336}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,63},{436,336}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1346},{446,332}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{446,332}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1016},{448,328}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,66},{448,328}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{474,314}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,71},{474,314}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{474,330}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{474,330}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,318},{470,362}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{470,362}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{476,364}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{476,364}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{476,364}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{476,364}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,362}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{486,362}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{462,350}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{462,350}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,770},{456,334}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,47},{456,334}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,736},{456,344}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,26},{456,344}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,682},{460,332}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{460,332}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1444},{438,388}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{438,388}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{454,396}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{454,396}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,368},{462,400}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{462,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,334},{466,400}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{466,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{452,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{452,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1482},{450,392}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{450,392}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1106},{438,336}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{438,336}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100176.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d55af9e7481e4115196a1251bac1bb:977c350d67763f00532b22a414974ffe:20f637df239935c5cabe86d4231016e3$</string>
            <key>textureFileName</key>
            <string>model100176.png</string>
        </dict>
    </dict>
</plist>
