<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{219,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{219,226}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{219,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{219,226}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{219,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,230}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{219,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,230}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{219,228}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{219,228}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{219,228}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{219,228}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{219,210}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{219,210}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{219,210}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{219,210}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{219,218}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{219,218}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{219,218}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{219,218}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,230}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>die8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,230}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{219,136}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{219,136}}</string>
                <key>sourceSize</key>
                <string>{219,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89140455a7d268a5ae3a4ee57f6e01e8:eeafa200abc1bb3bb17869df7dc52bb8:c8d22e87921dc8a2cacf745fc29db515$</string>
            <key>textureFileName</key>
            <string>model8.png</string>
        </dict>
    </dict>
</plist>
