<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,326},{188,146}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,72},{188,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{186,146}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{186,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{186,146}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{186,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{186,146}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{186,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2},{166,186}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{166,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{166,186}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{166,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,190},{164,186}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{164,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,816},{166,186}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{166,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,310},{178,168}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,71},{178,168}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,310},{178,168}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,71},{178,168}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{176,166}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,73},{176,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,452},{178,166}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,73},{178,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,676},{170,138}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{170,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,620},{170,138}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{170,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,402},{170,144}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{170,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,480},{170,142}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,56},{170,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,760},{168,138}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{168,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,624},{168,138}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{168,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,470},{168,142}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,73},{168,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,548},{168,138}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,77},{168,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,764},{152,156}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{152,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,150},{180,154}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,66},{180,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{202,154}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,66},{202,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,474},{158,154}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,66},{158,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,296},{190,154}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,66},{190,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{168,156}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,64},{168,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{150,192}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,48},{150,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,160},{170,200}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{170,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{194,204}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{194,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1004},{150,198}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,42},{150,198}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,474},{176,200}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,40},{176,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,614},{154,196}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{154,196}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,362},{164,182}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,55},{164,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,208},{178,192}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{178,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,192}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{212,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{210,186}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,51},{210,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{192,200}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{192,200}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,166},{164,194}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{164,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,158},{192,150}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,67},{192,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{172,162}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{172,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,306},{170,162}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{170,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{204,154}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,63},{204,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,298},{170,174}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{170,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{182,156}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,61},{182,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,190},{194,134}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,75},{194,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,150},{180,146}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,63},{180,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,900},{152,146}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,63},{152,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,688},{152,164}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,67},{152,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,362},{158,154}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{158,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,158},{194,136}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,73},{194,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model272.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e657c03f9a50544f9113712c8a766a2f:f7320a3ff45c3089b0ff2d15dedae9c7:6c344478a732847e1581a42df629dac3$</string>
            <key>textureFileName</key>
            <string>model272.png</string>
        </dict>
    </dict>
</plist>
