<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{478,392}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,58},{478,392}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,396},{468,394}}</string>
                <key>offset</key>
                <string>{18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,55},{468,394}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{462,414}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,35},{462,414}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,414}}</string>
                <key>offset</key>
                <string>{19,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,36},{478,414}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100197.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b744254688f1807ac105ae7977641c7:f8a950612dda2d39c315c7c4d7d741f1:c08238235044e54dd1173f64be410f9d$</string>
            <key>textureFileName</key>
            <string>model100197.png</string>
        </dict>
    </dict>
</plist>
