<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,950},{422,430}}</string>
                <key>offset</key>
                <string>{32,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,228},{422,430}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,516},{404,424}}</string>
                <key>offset</key>
                <string>{42,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,226},{404,424}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,516},{402,432}}</string>
                <key>offset</key>
                <string>{44,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,214},{402,432}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1186},{402,444}}</string>
                <key>offset</key>
                <string>{44,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,195},{402,444}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{410,472}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,167},{410,472}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{428,512}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,127},{428,512}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{436,572}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,68},{436,572}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,608}}</string>
                <key>offset</key>
                <string>{-28,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,27},{434,608}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100135.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd1bf0d5739750ddd2d1b93c1610e5e:2284afaec26456fd8b2a332ed78232e1:85feabf309dbbb70fdded636f1ee9a09$</string>
            <key>textureFileName</key>
            <string>model100135.png</string>
        </dict>
    </dict>
</plist>
