<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{128,204}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,70},{128,204}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{128,204}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,70},{128,204}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{134,208}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,66},{134,208}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{134,208}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,66},{134,208}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,622},{122,204}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,70},{122,204}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,622},{122,204}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,70},{122,204}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{126,186}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,88},{126,186}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{126,186}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,88},{126,186}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,412},{136,196}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,78},{136,196}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,412},{136,196}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,78},{136,196}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{132,208}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,66},{132,208}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>die8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{132,208}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,66},{132,208}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,198}}</string>
                <key>offset</key>
                <string>{-43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,95},{262,198}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6bd99a6bd4daba46c514df7d58c46f:bc3a018065962c6e4c1529588f86339b:d311b81fd9910dd5f6f9e5174b65f5cd$</string>
            <key>textureFileName</key>
            <string>model5.png</string>
        </dict>
    </dict>
</plist>
