<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,455},{59,37}}</string>
                <key>offset</key>
                <string>{42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,109},{59,37}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,455},{67,41}}</string>
                <key>offset</key>
                <string>{43,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,107},{67,41}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{85,87}}</string>
                <key>offset</key>
                <string>{37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,64},{85,87}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,91},{83,113}}</string>
                <key>offset</key>
                <string>{40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,39},{83,113}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,165},{95,155}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,308},{101,145}}</string>
                <key>offset</key>
                <string>{37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,10},{101,145}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,157},{107,149}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{107,149}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{111,153}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{111,153}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,322},{115,151}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,15},{115,151}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{119,157}}</string>
                <key>offset</key>
                <string>{38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,11},{119,157}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{119,159}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,9},{119,159}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,161}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,6},{121,161}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{101,145}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,17},{101,145}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,149},{91,133}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,20},{91,133}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,475},{25,29}}</string>
                <key>offset</key>
                <string>{10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{25,29}}</string>
                <key>sourceSize</key>
                <string>{197,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1072.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb62d6d30262bfe58ee835d834364d4:eef070878d23cba2bfe797964ae19dd7:e3b4e7915dd456c91394e488a348de3e$</string>
            <key>textureFileName</key>
            <string>model1072.png</string>
        </dict>
    </dict>
</plist>
