<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,254}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{66,254}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{76,170}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,88},{76,170}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,152},{82,138}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,121},{82,138}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,152},{98,140}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,120},{98,140}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,308},{100,140}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,122},{100,140}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,870},{106,140}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,123},{106,140}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,728},{114,142}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,122},{114,142}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,728},{114,140}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,125},{114,140}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,872},{116,140}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,124},{116,140}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,582},{134,144}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,121},{134,144}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{136,146}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,120},{136,146}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{134,148}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,120},{134,148}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{138,150}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,118},{138,150}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{138,154}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,116},{138,154}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{140,148}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,120},{140,148}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{148,148}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,120},{148,148}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{152,142}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,126},{152,142}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,294},{152,138}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,128},{152,138}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,434},{150,134}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,129},{150,134}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2040.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:036fa4863cd1b4936da0b12d63b12fef:7355cde5a5fef3be28b76b0bbe8c9236:e631bd053d84ffc36b727e674135dfb6$</string>
            <key>textureFileName</key>
            <string>model2040.png</string>
        </dict>
    </dict>
</plist>
