<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,628},{178,176}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,76},{178,176}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,602},{188,206}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,50},{188,206}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{270,210}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,46},{270,210}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,618},{358,210}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,46},{358,210}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,214},{530,210}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{530,210}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,210}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{586,210}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{568,210}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{568,210}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{556,210}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{556,210}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,602},{394,200}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,46},{394,200}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{394,200}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,46},{394,200}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,426},{400,200}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,46},{400,200}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,214},{422,200}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,46},{422,200}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,416},{450,200}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{450,200}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,400},{478,200}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,46},{478,200}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,214},{504,184}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{504,184}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{530,152}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,80},{530,152}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{556,140}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,95},{556,140}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100150.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:396686c5247c75c4297298183e4b0b8d:af540e2194db62b90d373f137d3256e7:48382f808c74a5fba8972a5ab24cfb86$</string>
            <key>textureFileName</key>
            <string>model100150.png</string>
        </dict>
    </dict>
</plist>
