<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{30,102}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,125},{30,102}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{36,110}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,120},{36,110}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{92,142}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,102},{92,142}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{94,170}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,72},{94,170}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,238},{90,226}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{90,226}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,242}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{84,242}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{90,234}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{90,234}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{78,234}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{78,234}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{30,102}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,125},{30,102}}</string>
                <key>sourceSize</key>
                <string>{100,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100147.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90d9fbf42aec47c24594a9c967da7570:fc8e5046ea3a67e0ed604459e32dff68:09a13170e77c4c442ae2a6d188f93ead$</string>
            <key>textureFileName</key>
            <string>model100147.png</string>
        </dict>
    </dict>
</plist>
