<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,950},{562,172}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,141},{562,172}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{590,162}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,154},{590,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,630},{594,160}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,154},{594,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,794},{578,154}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,155},{578,154}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,792},{588,154}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,155},{588,154}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,476},{602,152}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,156},{602,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{604,152}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,156},{604,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{562,152}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,157},{562,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1108},{560,152}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,157},{560,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,326},{604,152}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{604,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,166},{604,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,156},{604,154}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,640},{594,152}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,157},{594,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,322},{604,152}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,159},{604,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{604,158}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{604,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,162},{604,162}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,156},{604,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{572,164}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,155},{572,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,948},{566,158}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,157},{566,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1262},{532,160}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,156},{532,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1276},{530,158}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,157},{530,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{546,152}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,159},{546,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1124},{558,150}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,158},{558,150}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,480},{600,158}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,155},{600,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{604,162}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{604,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{596,168}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,154},{596,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{606,164}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,151},{606,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{606,158}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,153},{606,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1029.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a5d8c219350d4c64db135bf1ef5811:9e08a4c305cd095c9203c90d3911ec76:159435968e8b183eb7564a8e7dc79ad5$</string>
            <key>textureFileName</key>
            <string>model1029.png</string>
        </dict>
    </dict>
</plist>
