<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,864},{184,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{184,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,670},{194,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{194,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,744},{196,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,49},{196,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,874},{182,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{182,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{170,194}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{170,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,896},{172,184}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{172,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,872},{170,182}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{170,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,876},{164,174}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{164,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,352},{214,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{214,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,376},{224,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{224,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,354},{224,190}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{224,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,516},{212,182}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{212,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{224,164}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{224,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,194},{232,180}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{232,180}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,340},{242,182}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{242,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,352},{226,162}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{226,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,670},{192,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{192,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,714},{202,158}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{202,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,524},{204,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,45},{204,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,524},{194,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{194,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,352},{204,170}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{204,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,700},{202,162}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{202,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,536},{202,176}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{202,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{204,170}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{204,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,546},{212,166}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{212,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,568},{208,174}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{208,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,682},{192,188}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{192,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{194,184}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{194,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,714},{190,188}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,37},{190,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,684},{190,190}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{190,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,828},{190,194}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{190,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,816},{190,194}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{190,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,188}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{250,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{250,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{250,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,186}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{250,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{250,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{250,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{250,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{250,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{250,168}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{250,168}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,172},{250,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{250,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{250,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{250,168}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,188},{250,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{250,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,190},{250,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{250,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,186},{250,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{250,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{232,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{232,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,344},{242,166}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{242,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,512},{242,156}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{242,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,192},{246,160}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{246,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,172},{244,170}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{244,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{234,172}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,35},{234,172}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model263.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ce51d4738242f5e335c78a68a4b00fe:3217e2ef7a08f7934767d245809ef92c:2f2b9fd9244faa53227810088666364a$</string>
            <key>textureFileName</key>
            <string>model263.png</string>
        </dict>
    </dict>
</plist>
