<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,150},{176,158}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,205},{176,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{180,146}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,209},{180,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{182,146}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,212},{182,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{178,148}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,210},{178,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{168,136}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,222},{168,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{166,150}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,206},{166,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,150},{168,148}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,209},{168,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{174,160}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,198},{174,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{182,160}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,198},{182,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,162}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,196},{190,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{158,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,206},{158,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,310},{158,152}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,206},{158,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,152},{160,152}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,205},{160,152}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,300},{160,138}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,204},{160,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{144,122}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,206},{144,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6f63f062c3d088cd494181e9e502ec:aadfd408c108b9c5a6dbe11c765b48d6:79cbd34aa92c1a2364b174398473a14d$</string>
            <key>textureFileName</key>
            <string>model2002.png</string>
        </dict>
    </dict>
</plist>
