<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,968},{104,42}}</string>
                <key>offset</key>
                <string>{17,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,207},{104,42}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,682},{122,78}}</string>
                <key>offset</key>
                <string>{23,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,198},{122,78}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,686},{118,76}}</string>
                <key>offset</key>
                <string>{22,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,195},{118,76}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,940},{114,78}}</string>
                <key>offset</key>
                <string>{22,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,193},{114,78}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,952},{108,70}}</string>
                <key>offset</key>
                <string>{24,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,199},{108,70}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,88},{120,66}}</string>
                <key>offset</key>
                <string>{21,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,201},{120,66}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{122,84}}</string>
                <key>offset</key>
                <string>{22,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,192},{122,84}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{134,98}}</string>
                <key>offset</key>
                <string>{16,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,182},{134,98}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,212},{98,156}}</string>
                <key>offset</key>
                <string>{8,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,115},{98,156}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,764},{100,186}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{100,186}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,762},{98,176}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,88},{98,176}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{124,208}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,56},{124,208}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,244},{178,230}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{178,230}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,256}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{226,256}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{214,246}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{214,246}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{202,240}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{202,240}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,260},{202,240}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{202,240}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,518},{206,244}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{206,244}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{208,248}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{208,248}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{210,256}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{210,256}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,764},{202,238}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{202,238}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{124,208}}</string>
                <key>offset</key>
                <string>{35,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,75},{124,208}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,476},{116,208}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,76},{116,208}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,476},{108,204}}</string>
                <key>offset</key>
                <string>{26,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,77},{108,204}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,764},{102,202}}</string>
                <key>offset</key>
                <string>{22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,78},{102,202}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,968},{54,52}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,95},{54,52}}</string>
                <key>sourceSize</key>
                <string>{250,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1067.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53b2dcd173ca8b96a8f62ac644223e9a:8c09f700c12d1b07b6553b5f90b8de5e:cc1a839afaeac81a4c112cfb9c17dfd2$</string>
            <key>textureFileName</key>
            <string>model1067.png</string>
        </dict>
    </dict>
</plist>
