<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,510},{174,150}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,55},{174,150}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{178,150}}</string>
                <key>offset</key>
                <string>{15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,55},{178,150}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,154},{174,142}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,62},{174,142}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,354},{174,142}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,59},{174,142}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{162,142}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{162,142}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,874},{160,148}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,55},{160,148}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,354},{164,154}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{164,154}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,198},{168,154}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{168,154}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,712},{174,160}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{174,160}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,548},{160,166}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{160,166}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,376},{162,170}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{162,170}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,198},{162,176}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{162,176}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,784},{168,180}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{168,180}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{170,188}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{170,188}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{170,196}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{170,196}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,202}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{166,202}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{170,194}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{170,194}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{170,188}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{170,188}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{162,186}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{162,186}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,548},{136,162}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{136,162}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,874},{122,148}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{122,148}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2022.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ff2e1d01fae35b00f87f907f5071db:cd2c34ac9aff3baeb1b4f670f38dd3f5:a01778f4eca22e44cec8dc0b41d59a35$</string>
            <key>textureFileName</key>
            <string>model2022.png</string>
        </dict>
    </dict>
</plist>
