<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,568},{96,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,44},{96,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,808},{96,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{96,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,736},{96,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{96,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,642},{96,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{96,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,314},{102,182}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{102,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,168},{102,182}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{102,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,168},{102,182}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{102,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,538},{102,182}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{102,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,154},{176,160}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,57},{176,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,410},{180,158}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,59},{180,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,408},{170,158}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{170,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,278},{170,158}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,59},{170,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,282},{206,126}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,90},{206,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,124},{212,126}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,90},{212,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{212,126}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,90},{212,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,244},{208,126}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,90},{208,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{146,154}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,60},{146,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,158},{148,154}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{148,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{156,154}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{156,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{152,156}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,58},{152,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,494},{96,190}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,39},{96,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,568},{96,180}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{96,180}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,630},{96,182}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,47},{96,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,438},{96,190}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,39},{96,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,438},{96,202}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{96,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,316},{96,208}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,21},{96,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,160},{102,194}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{102,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,158},{102,194}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{102,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,354},{102,186}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{102,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,354},{102,182}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,40},{102,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,316},{102,176}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{102,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,356},{102,178}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{102,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{204,156}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{204,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{178,164}}</string>
                <key>offset</key>
                <string>{24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{178,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,252},{186,154}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,63},{186,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{204,150}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,66},{204,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{220,152}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,64},{220,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{220,154}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,62},{220,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{242,122}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,77},{242,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{232,120}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,79},{232,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,122},{230,120}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,79},{230,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{234,118}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,81},{234,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{238,118}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,81},{238,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,118}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{244,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,372},{184,150}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,62},{184,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,130},{190,146}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,66},{190,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{180,152}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{180,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,570},{168,158}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,54},{168,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{160,174}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{160,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,524},{168,176}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{168,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model226.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:526dfca165a840e694d74b860e43ddd9:81d5c5dc67eb7f1487519809cc2d6345:ac762e835797773949e15f5a85657fc1$</string>
            <key>textureFileName</key>
            <string>model226.png</string>
        </dict>
    </dict>
</plist>
