<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{62,70}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,20},{62,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,84},{72,80}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,15},{72,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,84},{72,80}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,15},{72,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{72,80}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,15},{72,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{72,116}}</string>
                <key>offset</key>
                <string>{-6,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,11},{72,116}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,332},{72,152}}</string>
                <key>offset</key>
                <string>{-6,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{72,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,174},{72,156}}</string>
                <key>offset</key>
                <string>{-6,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{72,156}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,208},{72,204}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{72,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,222}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,0},{80,222}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{78,196}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,16},{78,196}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,208},{88,200}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,18},{88,200}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{92,208}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,19},{92,208}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{92,204}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,21},{92,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{86,170}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,49},{86,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,414},{86,96}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,120},{86,96}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,410},{98,100}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,109},{98,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2077.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7cc106ce442561a6b0cdae55480d676:5a94ee19103a2a48ee4dacb58d49820f:98ae96c64db93f2005ca8def1060a599$</string>
            <key>textureFileName</key>
            <string>model2077.png</string>
        </dict>
    </dict>
</plist>
