<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,99},{44,9}}</string>
                <key>offset</key>
                <string>{-3,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{44,9}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,99},{54,67}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{54,67}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,101},{46,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,86},{46,63}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,110},{40,55}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,159},{40,55}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,95}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,130},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,97}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,128},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,99}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,93}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,132},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,89}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,97},{88,89}}</string>
                <key>offset</key>
                <string>{-2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,136},{88,89}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,93},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100145.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b386dc32abd63ea2b2b25ab7754537:eb70ed5a8ca0c139d2557d66000cddab:f1f7d2dd6dfe87667aa9d2592853c9b5$</string>
            <key>textureFileName</key>
            <string>model100145.png</string>
        </dict>
    </dict>
</plist>
