<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,458},{506,454}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{506,454}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{506,454}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,454}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,454}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100239.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc154f4e6e6fb633b14897bdaf0b9539:b51a6c91c55072afc20fb0e4811efe1b:3e99adb5b32c523d2de1b3c50a52fc8c$</string>
            <key>textureFileName</key>
            <string>model100239.png</string>
        </dict>
    </dict>
</plist>
