<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,208}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,46},{223,208}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{199,186}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,59},{199,186}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{171,164}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,72},{171,164}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,168},{147,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,84},{147,140}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,290},{121,114}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,100},{121,114}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,204},{95,92}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,113},{95,92}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,110},{99,92}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,121},{99,92}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,150},{149,138}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{149,138}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,148},{153,142}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,95},{153,142}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{155,144}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,95},{155,144}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{157,146}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{157,146}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,190},{93,96}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,114},{93,96}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{105,106}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,109},{105,106}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,190},{95,82}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,137},{95,82}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,292},{83,90}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,133},{83,90}}</string>
                <key>sourceSize</key>
                <string>{385,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100078.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39819b9ad03917b1500cf37b4149557b:e89f629bce27b20f2cc6a379b6c4bbda:0e7b149223002bcfe75b441c3ca3f2ed$</string>
            <key>textureFileName</key>
            <string>model100078.png</string>
        </dict>
    </dict>
</plist>
