<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,258},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,258},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,258},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,770},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,642},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,514},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,386},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,770},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,642},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,514},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,386},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>idle8_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100050.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8219eec818d56724a9d5663be4d7ae72:5dfa4aecb33a93430215611d02c6108c:73190a09cc0c89ff49da27ee5c0bab09$</string>
            <key>textureFileName</key>
            <string>model100050.png</string>
        </dict>
    </dict>
</plist>
