<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{196,215}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,73},{196,215}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{212,293}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{212,293}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,329},{250,319}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{250,319}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,347},{254,327}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{254,327}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{278,347}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{278,347}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{274,325}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{274,325}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{260,343}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{260,343}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{278,347}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{278,347}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{274,325}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{274,325}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,351}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{254,351}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{278,347}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{278,347}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{274,325}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{274,325}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,351}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{254,351}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{260,343}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{260,343}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,676},{254,319}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{254,319}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,704},{250,239}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{250,239}}</string>
                <key>sourceSize</key>
                <string>{296,373}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1051.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a4787782d548d78475a2a9f5bb96639:3ea39d1122a325412a76e68b25ceec6a:ac55a24faaaca47e976c09703fdf98ab$</string>
            <key>textureFileName</key>
            <string>model1051.png</string>
        </dict>
    </dict>
</plist>
