<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{233,308}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,308}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{233,308}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,308}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{233,308}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,308}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,348}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{233,348}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,348}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{233,348}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,348}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{233,348}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{233,302}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{233,302}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{233,302}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{233,302}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{233,302}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{233,302}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{233,296}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{233,296}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{233,296}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{233,296}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{233,296}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{233,296}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{233,290}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{233,290}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{233,290}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{233,290}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{233,290}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{233,290}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{233,278}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{233,278}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{233,278}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{233,278}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{233,278}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{233,278}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,282},{233,254}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{233,254}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,282},{233,254}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{233,254}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,282},{233,254}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{233,254}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,294},{233,192}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{233,192}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,294},{233,192}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{233,192}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,294},{233,192}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{233,192}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,300},{233,160}}</string>
                <key>offset</key>
                <string>{0,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,204},{233,160}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,300},{233,160}}</string>
                <key>offset</key>
                <string>{0,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,204},{233,160}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,300},{233,160}}</string>
                <key>offset</key>
                <string>{0,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,204},{233,160}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,462},{217,146}}</string>
                <key>offset</key>
                <string>{3,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,208},{217,146}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,462},{217,146}}</string>
                <key>offset</key>
                <string>{3,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,208},{217,146}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
            <key>idle8_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,462},{217,146}}</string>
                <key>offset</key>
                <string>{3,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,208},{217,146}}</string>
                <key>sourceSize</key>
                <string>{233,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2233.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce09199e522dc7cd548827c42e45a4e:90de0c8d9802dca4a32746381b0b8400:20f12a342889ba82e45b8d661da3f12f$</string>
            <key>textureFileName</key>
            <string>model2233.png</string>
        </dict>
    </dict>
</plist>
