<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,282},{198,111}}</string>
                <key>offset</key>
                <string>{67,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,9},{198,111}}</string>
                <key>sourceSize</key>
                <string>{350,203}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,169},{198,111}}</string>
                <key>offset</key>
                <string>{67,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,9},{198,111}}</string>
                <key>sourceSize</key>
                <string>{350,203}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{198,109}}</string>
                <key>offset</key>
                <string>{67,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,10},{198,109}}</string>
                <key>sourceSize</key>
                <string>{350,203}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,395},{198,107}}</string>
                <key>offset</key>
                <string>{67,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,10},{198,107}}</string>
                <key>sourceSize</key>
                <string>{350,203}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{272,135}}</string>
                <key>offset</key>
                <string>{29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,11},{272,135}}</string>
                <key>sourceSize</key>
                <string>{350,203}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,165}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{328,165}}</string>
                <key>sourceSize</key>
                <string>{350,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1088.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46b271541775324b4df885931298ca9a:6c02a14e1ea5e0d297d4fa96825ddb25:df28e8a4b70e8328dcbcb4bfa1687785$</string>
            <key>textureFileName</key>
            <string>model1088.png</string>
        </dict>
    </dict>
</plist>
