<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,42},{63,38}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,79},{63,38}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,466},{65,42}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,75},{65,42}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,450},{63,52}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{63,52}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{61,76}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{61,76}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{63,80}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{63,80}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{53,90}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{53,90}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,112}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{59,112}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{51,106}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{51,106}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{45,86}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{45,86}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,116},{37,88}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{37,88}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,206},{41,78}}</string>
                <key>offset</key>
                <string>{-21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{41,78}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,398},{43,66}}</string>
                <key>offset</key>
                <string>{-22,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{43,66}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,390},{37,58}}</string>
                <key>offset</key>
                <string>{-20,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,60},{37,58}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,286},{35,60}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,58},{35,60}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,90},{33,52}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,65},{33,52}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,144},{37,40}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,77},{37,40}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,348},{49,40}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,77},{49,40}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,82},{65,36}}</string>
                <key>offset</key>
                <string>{10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,81},{65,36}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{63,38}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,79},{63,38}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100090.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4df1fdc5e1254cd757d77651b9815a72:784f65643e053d18474d23591b85b9f8:b9cea9ee43317fdc8ad5cb7f997d3891$</string>
            <key>textureFileName</key>
            <string>model100090.png</string>
        </dict>
    </dict>
</plist>
