<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,936},{36,46}}</string>
                <key>offset</key>
                <string>{-28,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,15},{36,46}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,364},{54,92}}</string>
                <key>offset</key>
                <string>{-23,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{54,92}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,260},{62,102}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,25},{62,102}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,840},{78,158}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{78,158}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{88,166}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,26},{88,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,830},{120,152}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,52},{120,152}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,136},{118,128}}</string>
                <key>offset</key>
                <string>{26,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,79},{118,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{128,106}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,102},{128,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,136},{134,122}}</string>
                <key>offset</key>
                <string>{23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,87},{134,122}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{136,132}}</string>
                <key>offset</key>
                <string>{18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{136,132}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,652},{150,142}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{150,142}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,498},{150,152}}</string>
                <key>offset</key>
                <string>{23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{150,152}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{154,164}}</string>
                <key>offset</key>
                <string>{21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,49},{154,164}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,506},{150,164}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{150,164}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{152,158}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{152,158}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,338},{158,158}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{158,158}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{152,166}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{152,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,166}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{152,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{150,166}}</string>
                <key>offset</key>
                <string>{27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,40},{150,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,672},{150,156}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,41},{150,156}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,796},{148,138}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,59},{148,138}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2091.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06ca0ed20ae2c6a32426e2be686430f7:4320d940c582b719c01ba6bc3f585018:1e1f81dad50051915d9675eff98cf321$</string>
            <key>textureFileName</key>
            <string>model2091.png</string>
        </dict>
    </dict>
</plist>
