<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{108,89}}</string>
                <key>offset</key>
                <string>{-76,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,96},{108,89}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{140,167}}</string>
                <key>offset</key>
                <string>{-80,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{140,167}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{138,167}}</string>
                <key>offset</key>
                <string>{-81,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{138,167}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,352},{124,163}}</string>
                <key>offset</key>
                <string>{-83,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{124,163}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{106,157}}</string>
                <key>offset</key>
                <string>{-82,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{106,157}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,855},{112,155}}</string>
                <key>offset</key>
                <string>{-82,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{112,155}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{116,159}}</string>
                <key>offset</key>
                <string>{-82,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{116,159}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,171},{120,161}}</string>
                <key>offset</key>
                <string>{-82,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{120,161}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{120,171}}</string>
                <key>offset</key>
                <string>{-82,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{120,171}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,696},{58,135}}</string>
                <key>offset</key>
                <string>{-79,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{58,135}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{80,173}}</string>
                <key>offset</key>
                <string>{-81,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{80,173}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,175}}</string>
                <key>offset</key>
                <string>{-81,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{88,175}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,179},{104,171}}</string>
                <key>offset</key>
                <string>{-80,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{104,171}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{118,157}}</string>
                <key>offset</key>
                <string>{-78,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{118,157}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,517},{116,125}}</string>
                <key>offset</key>
                <string>{-83,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,64},{116,125}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,163},{124,91}}</string>
                <key>offset</key>
                <string>{-82,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,100},{124,91}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,334},{146,91}}</string>
                <key>offset</key>
                <string>{-76,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,102},{146,91}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,427},{140,63}}</string>
                <key>offset</key>
                <string>{-71,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,132},{140,63}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,256},{142,59}}</string>
                <key>offset</key>
                <string>{-75,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,136},{142,59}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,93},{114,55}}</string>
                <key>offset</key>
                <string>{-75,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,136},{114,55}}</string>
                <key>sourceSize</key>
                <string>{300,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2076.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a6f345202ec4be07909f2b82c632dc4:9d9496cb9c803b83a916a2e76f126a6d:83e8933483b91ac8129c895da46a8e11$</string>
            <key>textureFileName</key>
            <string>model2076.png</string>
        </dict>
    </dict>
</plist>
