<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,518},{176,256}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{176,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,518},{176,256}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{176,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{182,256}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{182,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{182,256}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{182,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{178,256}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{178,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{178,256}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{178,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{178,240}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{178,240}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{178,240}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{178,240}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,250}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{182,250}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,250}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{182,250}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,256}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{182,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>die8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,256}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{182,256}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,776},{175,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,111}}</string>
                <key>sourceSize</key>
                <string>{175,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74916c78d1c24622ec8478cd000f4a81:639e3d39140ea589d9cb977cbc666f25:2e6834762bfb01a5a109d4ab284a3f00$</string>
            <key>textureFileName</key>
            <string>model12.png</string>
        </dict>
    </dict>
</plist>
