<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{284,232}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{284,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{286,286}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{286,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,288}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{286,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{232,288}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{232,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,540},{242,238}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{242,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{262,244}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{262,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,292},{262,246}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{262,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,236},{260,238}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{260,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,780},{220,216}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{220,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,780},{222,216}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{222,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1037.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5e3b88d0b51b830f84f1d515a0d20c3:6bc6a636543b631800bc144b7e216fb1:3a72ae7cc0ae398d39322a1f0c448bc0$</string>
            <key>textureFileName</key>
            <string>model1037.png</string>
        </dict>
    </dict>
</plist>
