<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,192}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{250,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,194}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{250,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{250,190}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{250,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,194}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{250,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{250,186}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{250,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{250,188}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{250,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,190}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{250,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{250,188}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{250,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{214,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{214,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,382},{214,162}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{214,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,570},{212,160}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{212,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{214,162}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,48},{214,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,194},{232,186}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{232,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,192},{232,188}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{232,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,382},{230,186}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{230,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,192},{232,188}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{232,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,198},{224,166}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,55},{224,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,532},{214,162}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,59},{214,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,424},{214,162}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,59},{214,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,366},{224,164}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,57},{224,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,546},{202,222}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{202,222}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{206,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{206,220}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,196},{230,226}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{230,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,588},{208,232}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{208,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,696},{208,222}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{208,222}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{228,222}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{228,222}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{198,210}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{198,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,392},{212,212}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{212,212}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,190},{232,192}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{232,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,576},{192,190}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,45},{192,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,382},{206,188}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{206,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,194},{230,196}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{230,196}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{164,210}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{164,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1134},{166,206}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{166,206}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,950},{172,174}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{172,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,936},{178,162}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,63},{178,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,768},{180,166}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{180,166}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,594},{182,210}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{182,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,822},{198,240}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{198,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,920},{198,212}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{198,212}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,384},{198,190}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{198,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,732},{200,216}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{200,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,606},{200,216}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{200,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run7_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,384},{198,208}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{198,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,810},{162,236}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{162,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,824},{174,234}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{174,234}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,572},{184,236}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{184,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1064},{170,230}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{170,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,770},{176,236}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{176,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>run8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,806},{178,226}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{178,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model239.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:890289b9c261306bfd6cf5b843f4523c:012ada89dcde4d84d026438c0ebd12ec:3771ab6cd70b9318da3ee6006cf6131c$</string>
            <key>textureFileName</key>
            <string>model239.png</string>
        </dict>
    </dict>
</plist>
