<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{440,394}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{440,394}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,774},{474,392}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{474,392}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,772},{476,390}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{476,390}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,386},{472,386}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{472,386}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,384},{472,386}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{472,386}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{474,382}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{474,382}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,380}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{474,380}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{476,382}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{476,382}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,386},{500,386}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{500,386}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,774},{468,392}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{468,392}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1164},{464,396}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{464,396}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{464,380}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{464,380}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{466,382}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{466,382}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1168},{456,400}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{456,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1570},{474,400}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1570},{474,400}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{474,400}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1168},{474,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{474,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1570},{466,400}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{466,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{442,392}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{442,392}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100182.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe246e9a703bc93f7bbf54fc55d75ea7:abc94ed8930ebbd257f099eeb20033c2:212a381203d9aecddd0973d904b2f5d4$</string>
            <key>textureFileName</key>
            <string>model100182.png</string>
        </dict>
    </dict>
</plist>
