<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{292,102}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{292,102}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{296,100}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{296,100}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,390},{294,98}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{294,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,386},{294,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,46},{294,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,486},{294,96}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{294,96}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,194},{296,90}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{296,90}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,98},{296,94}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,47},{296,94}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,788},{290,98}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{290,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{296,92}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{296,92}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{294,88}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{294,88}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{294,96}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{294,96}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,286},{294,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,46},{294,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,196},{296,88}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,51},{296,88}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,584},{294,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{294,90}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,688},{292,98}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{292,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{296,94}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{296,94}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,586},{294,88}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{294,88}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{294,94}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{292,98}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{292,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,104},{296,90}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{296,90}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,490},{294,94}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{294,94}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{294,98}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,46},{294,98}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{294,104}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{294,104}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,286},{294,102}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,49},{294,102}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,100}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{296,100}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>idle8_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{292,102}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{292,102}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1028.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cce32c3646b12bdbfe535362f74907aa:1105292cb3ad5a754911bdf967e6e520:2e22cb6385b871d8de6db095c63644b0$</string>
            <key>textureFileName</key>
            <string>model1028.png</string>
        </dict>
    </dict>
</plist>
