<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,106},{84,80}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,91},{84,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{82,106}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,75},{82,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{86,102}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,79},{86,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{86,92}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,88},{86,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,96},{84,98}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,82},{84,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,130},{84,110}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,70},{84,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{84,142}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,35},{84,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,146}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,30},{94,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{94,144}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,29},{94,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,296},{78,142}}</string>
                <key>offset</key>
                <string>{8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,29},{78,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{76,126}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,29},{76,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1027.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f22e0835342483610c7d1d5a0d3bf4c:0809c094f226157e0aba9b6e46541485:549b64552ed0e46cf9fb1dafddb327bc$</string>
            <key>textureFileName</key>
            <string>model1027.png</string>
        </dict>
    </dict>
</plist>
