<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,152},{164,142}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,151},{164,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,342},{170,142}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,151},{170,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{164,136}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,155},{164,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{164,134}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,155},{164,134}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,138},{154,136}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,153},{154,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{152,142}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{152,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,502},{156,146}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,145},{156,146}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,148}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,141},{160,148}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,348},{164,152}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,136},{164,152}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,188},{152,158}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,134},{152,158}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,736},{154,162}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,129},{154,162}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,566},{156,168}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,121},{156,168}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,748},{158,172}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,115},{158,172}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{160,180}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,105},{160,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{162,186}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,99},{162,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,192}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,96},{158,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{160,184}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,102},{160,184}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{162,180}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,107},{162,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{152,176}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,113},{152,176}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,188},{128,152}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,118},{128,152}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,140},{116,140}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,136},{116,140}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2082.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106a2d1dc30e9d7f78ce9a0c472feda9:f0a495a7e19874c15e9f0523300b0b9a:8cf6f6ed3429a9638026b34568b05ed4$</string>
            <key>textureFileName</key>
            <string>model2082.png</string>
        </dict>
    </dict>
</plist>
