<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,828},{174,266}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{174,266}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,820},{178,278}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,140},{178,278}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1000},{184,276}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,140},{184,276}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{188,290}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,126},{188,290}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1186},{198,244}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,172},{198,244}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1026},{196,270}}</string>
                <key>offset</key>
                <string>{-10,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,151},{196,270}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,428},{186,294}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,131},{186,294}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{198,278}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,150},{198,278}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,226},{200,296}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,131},{200,296}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{204,270}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,155},{204,270}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,616},{210,282}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,145},{210,282}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{200,300}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,126},{200,300}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,220},{210,298}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,127},{210,298}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{216,300}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,126},{216,300}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{222,298}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,126},{222,298}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{214,296}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,126},{214,296}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,828},{196,276}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,140},{196,276}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,304}}</string>
                <key>offset</key>
                <string>{-7,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,127},{192,304}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,432},{186,292}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,127},{186,292}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,620},{198,278}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,142},{198,278}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1096},{172,258}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,163},{172,258}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{174,274}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,147},{174,274}}</string>
                <key>sourceSize</key>
                <string>{444,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1000100.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fbbf54110396d25eeb75230db2c5887:267eeea9a0f5b1de39c9d97e727524f8:42f4b28028e7a3422354d54db96ea81e$</string>
            <key>textureFileName</key>
            <string>model1000100.png</string>
        </dict>
    </dict>
</plist>
