<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,290}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{316,290}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{310,274}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,57},{310,274}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{304,258}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,73},{304,258}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,278},{298,242}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,89},{298,242}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{292,244}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,87},{292,244}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{286,244}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,87},{286,244}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,522},{288,246}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,85},{288,246}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,744},{278,246}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,85},{278,246}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{268,248}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,83},{268,248}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1012},{260,248}}</string>
                <key>offset</key>
                <string>{-25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,83},{260,248}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1236},{250,248}}</string>
                <key>offset</key>
                <string>{-30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,83},{250,248}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{246,248}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,83},{246,248}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1262},{248,246}}</string>
                <key>offset</key>
                <string>{-30,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,85},{248,246}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1482},{232,246}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,85},{232,246}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1236},{234,244}}</string>
                <key>offset</key>
                <string>{-37,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,87},{234,244}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1486},{244,244}}</string>
                <key>offset</key>
                <string>{-32,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,87},{244,244}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{256,242}}</string>
                <key>offset</key>
                <string>{-26,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,89},{256,242}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,992},{268,242}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,89},{268,242}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,770},{278,240}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,91},{278,240}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,502},{290,240}}</string>
                <key>offset</key>
                <string>{-8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,91},{290,240}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,262},{300,238}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,93},{300,238}}</string>
                <key>sourceSize</key>
                <string>{350,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100072.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb5c424fa7331f96d1c72d0aa789aa10:108b15dae975bd1134d390160cb1fe03:e3761f8b64ab4806b499f1e085283791$</string>
            <key>textureFileName</key>
            <string>model100072.png</string>
        </dict>
    </dict>
</plist>
