<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{70,37}}</string>
                <key>offset</key>
                <string>{-70,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,90},{70,37}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,379},{114,107}}</string>
                <key>offset</key>
                <string>{-70,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{114,107}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{122,119}}</string>
                <key>offset</key>
                <string>{-70,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{122,119}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,240},{124,119}}</string>
                <key>offset</key>
                <string>{-70,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{124,119}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,123},{126,119}}</string>
                <key>offset</key>
                <string>{-69,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{126,119}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,121},{128,117}}</string>
                <key>offset</key>
                <string>{-70,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{128,117}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{128,117}}</string>
                <key>offset</key>
                <string>{-71,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{128,117}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{128,119}}</string>
                <key>offset</key>
                <string>{-70,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{128,119}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,361},{124,117}}</string>
                <key>offset</key>
                <string>{-69,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{124,117}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,363},{124,115}}</string>
                <key>offset</key>
                <string>{-69,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{124,115}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,244},{124,117}}</string>
                <key>offset</key>
                <string>{-69,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{124,117}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,135},{124,121}}</string>
                <key>offset</key>
                <string>{-69,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{124,121}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{126,127}}</string>
                <key>offset</key>
                <string>{-69,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{126,127}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{126,131}}</string>
                <key>offset</key>
                <string>{-69,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{126,131}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{124,134}}</string>
                <key>offset</key>
                <string>{-70,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{124,134}}</string>
                <key>sourceSize</key>
                <string>{270,248}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,139}}</string>
                <key>offset</key>
                <string>{-71,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,139}}</string>
                <key>sourceSize</key>
                <string>{270,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2018.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6886927a986a70c86cf58b2703ae01a1:f432ad96a9fa641e599f89d1399844f2:f5fe236e8a5a2f3b626817dc78f46733$</string>
            <key>textureFileName</key>
            <string>model2018.png</string>
        </dict>
    </dict>
</plist>
