<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,186},{53,40}}</string>
                <key>offset</key>
                <string>{-52,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{53,40}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,848},{95,98}}</string>
                <key>offset</key>
                <string>{-30,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{95,98}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,828},{131,180}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{131,180}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{143,198}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{143,198}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,232}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{181,232}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{175,216}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{175,216}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{175,192}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{175,192}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,454},{179,190}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{179,190}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{179,180}}</string>
                <key>offset</key>
                <string>{13,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,70},{179,180}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,420},{175,178}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,72},{175,178}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,646},{169,180}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,70},{169,180}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{177,182}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,68},{177,182}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,236},{185,182}}</string>
                <key>offset</key>
                <string>{10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{185,182}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,600},{189,176}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,74},{189,176}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{187,176}}</string>
                <key>offset</key>
                <string>{9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,74},{187,176}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{77,118}}</string>
                <key>offset</key>
                <string>{33,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,97},{77,118}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,848},{67,98}}</string>
                <key>offset</key>
                <string>{33,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,95},{67,98}}</string>
                <key>sourceSize</key>
                <string>{205,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model5102.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b150f2910e29f0e4d14804951d8aa61:82abcc1e62eaa2e028cd384bdeb60d50:36e8921fcb44f5edba47640dc0da0954$</string>
            <key>textureFileName</key>
            <string>model5102.png</string>
        </dict>
    </dict>
</plist>
