<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,326},{80,98}}</string>
                <key>offset</key>
                <string>{-5,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{80,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,326},{118,198}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{118,198}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,326},{186,144}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,80},{186,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{192,146}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,82},{192,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,326},{196,146}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,84},{196,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,328},{196,144}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,85},{196,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,164},{202,160}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,164},{202,160}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{202,160}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,166},{202,160}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,164},{202,160}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,85},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{202,160}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,85},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{202,160}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,85},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,162}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,85},{202,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,164}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{202,164}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{202,160}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,84},{202,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1079.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59f02615b5711bb0e1e96a60b70da04e:ac487c280a962c957276b9340484cbf1:f10b13d0e28e6991d4bdc467c1734b86$</string>
            <key>textureFileName</key>
            <string>model1079.png</string>
        </dict>
    </dict>
</plist>
