<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{462,298}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{462,298}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{460,302}}</string>
                <key>offset</key>
                <string>{-19,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,148},{460,302}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{440,304}}</string>
                <key>offset</key>
                <string>{-17,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,146},{440,304}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,302},{430,310}}</string>
                <key>offset</key>
                <string>{-22,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,140},{430,310}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,306},{420,320}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,130},{420,320}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,308},{422,352}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,98},{422,352}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{386,362}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,88},{386,362}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,614},{416,368}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,82},{416,368}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,640},{394,378}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,72},{394,378}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,984},{414,402}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{414,402}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1062},{420,428}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{420,428}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1444},{412,442}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{412,442}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1422},{398,438}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{398,438}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1492},{392,442}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{392,442}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1492},{396,450}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{396,450}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{398,436}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{398,436}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1020},{364,422}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{364,422}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1002},{404,418}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{404,418}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,662},{352,398}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{352,398}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{356,398}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{356,398}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,308},{368,330}}</string>
                <key>offset</key>
                <string>{-15,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{368,330}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,628},{378,372}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{378,372}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{392,316}}</string>
                <key>offset</key>
                <string>{-15,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{392,316}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,288}}</string>
                <key>offset</key>
                <string>{-15,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{398,288}}</string>
                <key>sourceSize</key>
                <string>{500,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100042.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:335d1684a58330b6dc570c53e038426b:a1a9644c3947d8a5e0a2767d6883b414:5a1ddd987c4bbc5d34a066b06bfc5ce7$</string>
            <key>textureFileName</key>
            <string>model100042.png</string>
        </dict>
    </dict>
</plist>
