<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,415}}</string>
                <key>sourceSize</key>
                <string>{520,415}</string>
            </dict>
            <key>die8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{501,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,415}}</string>
                <key>sourceSize</key>
                <string>{501,415}</string>
            </dict>
            <key>idle6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,239},{312,235}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,64},{312,235}}</string>
                <key>sourceSize</key>
                <string>{520,415}</string>
            </dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{313,235}}</string>
                <key>offset</key>
                <string>{-40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,79},{313,235}}</string>
                <key>sourceSize</key>
                <string>{501,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce75d54682d47ca19af06bf1f32dbd5:e7062c0d40d0da36b87aa82cb47c6fbf:a9fcdb9ed031b85549cf8b745407b083$</string>
            <key>textureFileName</key>
            <string>model4.png</string>
        </dict>
    </dict>
</plist>
