<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,146},{54,28}}</string>
                <key>offset</key>
                <string>{-59,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{54,28}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,260},{78,60}}</string>
                <key>offset</key>
                <string>{-59,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,56},{78,60}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,260},{128,82}}</string>
                <key>offset</key>
                <string>{-59,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,46},{128,82}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,272},{126,94}}</string>
                <key>offset</key>
                <string>{-59,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{126,94}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,146},{146,112}}</string>
                <key>offset</key>
                <string>{-60,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{146,112}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,132},{188,132}}</string>
                <key>offset</key>
                <string>{-59,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{188,132}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{202,142}}</string>
                <key>offset</key>
                <string>{-59,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{202,142}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,148}}</string>
                <key>offset</key>
                <string>{-59,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,148}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{204,128}}</string>
                <key>offset</key>
                <string>{-58,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{204,128}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,142},{172,128}}</string>
                <key>offset</key>
                <string>{-60,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{172,128}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,140},{178,132}}</string>
                <key>offset</key>
                <string>{-60,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{178,132}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{178,136}}</string>
                <key>offset</key>
                <string>{-60,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{178,136}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{178,138}}</string>
                <key>offset</key>
                <string>{-59,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{178,138}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{178,138}}</string>
                <key>offset</key>
                <string>{-59,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{178,138}}</string>
                <key>sourceSize</key>
                <string>{330,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2064.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba4d7f357a3444833cf8fcceaee8aed:8f2833ac23e55570e7db1e8a05697a41:ac3f735202a08ee1c821dee000a7eb36$</string>
            <key>textureFileName</key>
            <string>model2064.png</string>
        </dict>
    </dict>
</plist>
