<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,727},{100,131}}</string>
                <key>offset</key>
                <string>{-74,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{100,131}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,443},{134,145}}</string>
                <key>offset</key>
                <string>{-73,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,149},{134,145}}</string>
                <key>offset</key>
                <string>{-73,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,296},{134,145}}</string>
                <key>offset</key>
                <string>{-73,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{134,145}}</string>
                <key>offset</key>
                <string>{-73,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{134,145}}</string>
                <key>offset</key>
                <string>{-73,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,149},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{134,145}}</string>
                <key>offset</key>
                <string>{-73,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{134,145}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{132,149}}</string>
                <key>offset</key>
                <string>{-74,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{132,149}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,161}}</string>
                <key>offset</key>
                <string>{-75,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,161}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,590},{120,135}}</string>
                <key>offset</key>
                <string>{-75,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{120,135}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{32,73}}</string>
                <key>offset</key>
                <string>{-72,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{32,73}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model3015.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1abd32fba8acb0f93e8d51c6086d4221:a011afa8c1685fb2c87ac7cd13a00ed4:cb1bc1bfc18914f72e3d2b89ff68871e$</string>
            <key>textureFileName</key>
            <string>model3015.png</string>
        </dict>
    </dict>
</plist>
