<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{94,98}}</string>
                <key>offset</key>
                <string>{-37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,78},{94,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{106,168}}</string>
                <key>offset</key>
                <string>{-32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{106,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{176,178}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{176,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{178,180}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,180}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{180,176}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{180,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,168}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{182,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{172,156}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{172,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,172},{136,118}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{136,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,292},{126,110}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{126,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,320},{154,160}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{154,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,160},{158,158}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{158,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,182},{156,156}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,404},{98,142}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{98,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,184},{54,72}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,46},{54,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,476},{54,72}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,46},{54,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,404},{56,70}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,47},{56,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,184},{54,70}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,47},{54,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,184},{50,66}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,184},{50,66}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,49},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2010.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c77e6a5e7db50e0e8b1af9ea739d6f2d:f6545dc575e4bac95b2640dbf22b8679:954148ebf3289d8ebd36ed1c3905695e$</string>
            <key>textureFileName</key>
            <string>model2010.png</string>
        </dict>
    </dict>
</plist>
