<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,280}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,40},{225,280}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{221,262}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,58},{221,262}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{215,246}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,74},{215,246}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{209,240}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,80},{209,240}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,244},{205,240}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,80},{205,240}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,486},{201,242}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,78},{201,242}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,625},{199,242}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,78},{199,242}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,424},{199,244}}</string>
                <key>offset</key>
                <string>{-11,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,76},{199,244}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{199,244}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,76},{199,244}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,219},{199,246}}</string>
                <key>offset</key>
                <string>{-12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,74},{199,246}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,420},{197,246}}</string>
                <key>offset</key>
                <string>{-12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,74},{197,246}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,225},{197,246}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,74},{197,246}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{197,244}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,76},{197,244}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,619},{195,244}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,76},{195,244}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{193,242}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,78},{193,242}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{193,242}}</string>
                <key>offset</key>
                <string>{-13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,78},{193,242}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,689},{193,240}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,80},{193,240}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,816},{191,240}}</string>
                <key>offset</key>
                <string>{-13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,80},{191,240}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,826},{191,238}}</string>
                <key>offset</key>
                <string>{-14,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,82},{191,238}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,884},{189,238}}</string>
                <key>offset</key>
                <string>{-14,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,82},{189,238}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1009},{189,236}}</string>
                <key>offset</key>
                <string>{-14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,84},{189,236}}</string>
                <key>sourceSize</key>
                <string>{255,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100073.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:290cd75a097f0678f5076085d7ac29dc:baa8d43f7f2a644497a8c09200356433:a936492159617d4424a66f2bed08e474$</string>
            <key>textureFileName</key>
            <string>model100073.png</string>
        </dict>
    </dict>
</plist>
