<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{108,186}}</string>
                <key>offset</key>
                <string>{13,226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,1},{108,186}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,614},{192,336}}</string>
                <key>offset</key>
                <string>{3,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,0},{192,336}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,590},{196,368}}</string>
                <key>offset</key>
                <string>{4,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,0},{196,368}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,576},{224,392}}</string>
                <key>offset</key>
                <string>{-10,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,0},{224,392}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,238},{260,374}}</string>
                <key>offset</key>
                <string>{-12,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,22},{260,374}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,208},{266,380}}</string>
                <key>offset</key>
                <string>{-9,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,19},{266,380}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{274,378}}</string>
                <key>offset</key>
                <string>{-5,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,18},{274,378}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{302,204}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,192},{302,204}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{364,234}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,183},{364,234}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{424,282}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,176},{424,282}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,354}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,167},{480,354}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,382},{224,230}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,162},{224,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,358},{226,216}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,176},{226,216}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{234,224}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{234,224}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,500},{238,230}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,161},{238,230}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,606},{218,236}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,160},{218,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{248,228}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,153},{248,228}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,382},{224,222}}</string>
                <key>offset</key>
                <string>{-19,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,160},{224,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,286},{256,212}}</string>
                <key>offset</key>
                <string>{-17,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,167},{256,212}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{236,222}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,164},{236,222}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1003.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0895baebe3b3b38813ceb3ec708bd80:2ae647ad56d0d46e37c530222fed4c69:9a20bdc0ef62bc8dac7ef23cc9dd6274$</string>
            <key>textureFileName</key>
            <string>model1003.png</string>
        </dict>
    </dict>
</plist>
