<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{344,274}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{344,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{344,278}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,105},{344,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,270}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,106},{346,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{344,272}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,104},{344,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,556},{342,272}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,103},{342,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,282},{342,272}}</string>
                <key>offset</key>
                <string>{27,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,104},{342,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100258.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca895395ad829c23c9cf061ef880370d:6cc05a6a617ae5444281400fa2788dce:f4410d02d4fb2514b08c8d2f531da89f$</string>
            <key>textureFileName</key>
            <string>model100258.png</string>
        </dict>
    </dict>
</plist>
