<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,463},{216,91}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,93},{216,91}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,879},{212,97}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,90},{212,97}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,179},{232,131}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,65},{232,131}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,179},{246,141}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{246,141}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,322},{236,139}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,56},{236,139}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,740},{218,137}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,58},{218,137}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{210,193}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{210,193}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,197},{212,189}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,3},{212,189}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,559},{210,179}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{210,179}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,698},{210,177}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,17},{210,177}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,740},{212,137}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,57},{212,137}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,877},{208,133}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,61},{208,133}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{202,127}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,67},{202,127}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,556},{196,117}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,73},{196,117}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,879},{190,109}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,77},{190,109}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,312},{122,75}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{122,75}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,463},{126,75}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{126,75}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,559},{244,137}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{244,137}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,388},{300,169}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{300,169}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{300,193}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{300,193}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{300,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{300,175}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{300,189}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{300,189}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{300,205}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{300,205}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{300,211}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{300,211}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>idle8_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,211}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{300,211}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model2043.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5374f28f4fac47e638e61f11e7cdd59:700be2d3891066173018570cc487108f:7c1eff7226d9836376f9427315c397c8$</string>
            <key>textureFileName</key>
            <string>model2043.png</string>
        </dict>
    </dict>
</plist>
