<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,338},{45,38}}</string>
                <key>offset</key>
                <string>{-13,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,7},{45,38}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,338},{45,38}}</string>
                <key>offset</key>
                <string>{-13,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,7},{45,38}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,188},{81,148}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,7},{81,148}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{115,194}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{115,194}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{95,184}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,7},{95,184}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{105,196}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{105,196}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,202}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{105,202}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,306},{125,110}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,102},{125,110}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,496},{121,102}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,116},{121,102}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,496},{113,100}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,121},{113,100}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{151,116}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,119},{151,116}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{151,116}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,119},{151,116}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{155,116}}</string>
                <key>offset</key>
                <string>{11,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,119},{155,116}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,188},{161,116}}</string>
                <key>offset</key>
                <string>{8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,119},{161,116}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,120},{165,108}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,127},{165,108}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,600},{171,110}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,125},{171,110}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,718},{173,114}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,124},{173,114}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{177,116}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,124},{177,116}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,378},{175,116}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,125},{175,116}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>idle8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{171,106}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,129},{171,106}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1075.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a073136a87a8491381f441a4d2961a:000cb76bb280c0b67382680c928c900d:7426f03f07026c77ac7501d077fbca8c$</string>
            <key>textureFileName</key>
            <string>model1075.png</string>
        </dict>
    </dict>
</plist>
