<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,198},{69,194}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{69,194}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{71,194}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{71,194}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,194},{67,192}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{67,192}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,200},{67,196}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{67,196}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{69,194}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{69,194}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{69,192}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{69,192}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,200},{69,196}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{69,196}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,196}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{71,196}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{69,192}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{69,192}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{69,190}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{69,190}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{71,198}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{71,198}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,198}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{71,198}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,198},{69,194}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{69,194}}</string>
                <key>sourceSize</key>
                <string>{87,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model100065.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6210e0a8337f2b1b23e4a2ceaf94a780:9ed5d9bcd55e065af47d086aa903d3a4:2c3ff7f16f35ff6f4c824d87bd2f5ab9$</string>
            <key>textureFileName</key>
            <string>model100065.png</string>
        </dict>
    </dict>
</plist>
