<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,520},{98,81}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,257},{98,81}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,215},{94,75}}</string>
                <key>offset</key>
                <string>{4,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,258},{94,75}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{82,327}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,7},{82,327}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{76,325}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,14},{76,325}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{114,291}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,55},{114,291}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,331},{132,305}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,48},{132,305}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,660},{158,317}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{158,317}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,327}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{182,327}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,295},{134,223}}</string>
                <key>offset</key>
                <string>{-2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,152},{134,223}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{134,211}}</string>
                <key>offset</key>
                <string>{-2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,153},{134,211}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,603},{120,209}}</string>
                <key>offset</key>
                <string>{-12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,144},{120,209}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,603},{120,209}}</string>
                <key>offset</key>
                <string>{-12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,144},{120,209}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,814},{102,163}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,173},{102,163}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
            <key>idle8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,814},{102,163}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,173},{102,163}}</string>
                <key>sourceSize</key>
                <string>{250,379}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>model1073.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:701c65dc43710e87b3eb3a6568b05d08:78cf433af3a4f705e89f7852bf8b0bf0:7a4eac69f4326026b30e3bdcffb3b3e6$</string>
            <key>textureFileName</key>
            <string>model1073.png</string>
        </dict>
    </dict>
</plist>
