<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Qublichouse_bidejianghun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,48}}</string>
                <key>sourceSize</key>
                <string>{110,48}</string>
            </dict>
            <key>Qublichouse_chennian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{284,349}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,349}}</string>
                <key>sourceSize</key>
                <string>{284,365}</string>
            </dict>
            <key>Qublichouse_chennianjianiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,748},{49,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,181}}</string>
                <key>sourceSize</key>
                <string>{49,181}</string>
            </dict>
            <key>Qublichouse_choujiangditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,386},{278,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,317}}</string>
                <key>sourceSize</key>
                <string>{278,317}</string>
            </dict>
            <key>Qublichouse_ditu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,748},{283,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{283,147}}</string>
                <key>sourceSize</key>
                <string>{285,147}</string>
            </dict>
            <key>Qublichouse_juanzhoubian.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,335},{337,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,43}}</string>
                <key>sourceSize</key>
                <string>{337,43}</string>
            </dict>
            <key>Qublichouse_laishentu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{283,393}}</string>
                <key>sourceSize</key>
                <string>{285,393}</string>
            </dict>
            <key>Qublichouse_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{262,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,331}}</string>
                <key>sourceSize</key>
                <string>{262,331}</string>
            </dict>
            <key>Qublichouse_putongmijiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{49,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,181}}</string>
                <key>sourceSize</key>
                <string>{49,181}</string>
            </dict>
            <key>Qublichouse_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,897},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,94}</string>
            </dict>
            <key>Qublichouse_shilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,335},{219,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,49}}</string>
                <key>sourceSize</key>
                <string>{219,49}</string>
            </dict>
            <key>Qublichouse_zaichou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{213,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,27}}</string>
                <key>sourceSize</key>
                <string>{213,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Qublichouse.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14b056e2d86d26bae6c9c2aec33c747a:7940efb966c4e89039a6fbbe836507ba:c4398f44cee067eee81c3c7bfb1f4537$</string>
            <key>textureFileName</key>
            <string>Qublichouse.png</string>
        </dict>
    </dict>
</plist>
