<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>extraAward_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{154,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,232}}</string>
                <key>sourceSize</key>
                <string>{154,232}</string>
            </dict>
            <key>extraAward_cardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,232}}</string>
                <key>sourceSize</key>
                <string>{154,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>extraAward.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0271086c47dd921116b741dbe2f2b97c:4a1ba49ce509e2ae0d003154dcce6158:523b63cd8ef8d790c37d3185b43b98c3$</string>
            <key>textureFileName</key>
            <string>extraAward.png</string>
        </dict>
    </dict>
</plist>
