<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tomb_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,244},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>tomb_chakanzhenbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,984},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>tomb_chanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,190},{52,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,85}}</string>
                <key>sourceSize</key>
                <string>{52,85}</string>
            </dict>
            <key>tomb_dibanover.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,180},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>tomb_dibanup.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,107},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>tomb_gulingmojin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{134,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,37}}</string>
                <key>sourceSize</key>
                <string>{134,37}</string>
            </dict>
            <key>tomb_jintan.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,190},{99,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>tomb_kaiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,984},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>tomb_mojin.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,984},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>tomb_mojinbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{749,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,433}}</string>
                <key>sourceSize</key>
                <string>{749,433}</string>
            </dict>
            <key>tomb_mojinchangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{545,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,488}}</string>
                <key>sourceSize</key>
                <string>{545,488}</string>
            </dict>
            <key>tomb_mojinjulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,984},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>tomb_wodebaowudown.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,107},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>tomb_wodebaowuup.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,107},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>tomb_wodebaowuup_guancai.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{103,238}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,54},{103,238}}</string>
                <key>sourceSize</key>
                <string>{121,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tomb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b059ed6cfedef341ae95405add2a6b1:db86156311286a0c7cfe30b097935f4c:d3eab45e7f264525cdfc672d11e09ed1$</string>
            <key>textureFileName</key>
            <string>tomb.png</string>
        </dict>
    </dict>
</plist>
